bobman_website/Dashboard.json
{
  "name": "Dashboard",
  "nodes": [
    {
      "parameters": {
        "path": "/dashboard/ppt",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1280,
        1040
      ],
      "id": "6b0113a1-643d-4ae7-8557-103cf9a36735",
      "name": "Webhook",
      "webhookId": "e9379853-f451-4428-9812-db7b244265e7"
    },
    {
      "parameters": {
        "jsCode": "// Extract date parameters from webhook query\n// Default to TODAY if not specified\nconst query = $input.first().json.query || {};\n\n// Get today's date in IST\nconst now = new Date();\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst istNow = new Date(now.getTime() + istOffset);\nconst todayIST = istNow.toISOString().split('T')[0];\n\nlet startDate = query.start_date || query.from || todayIST;\nlet endDate = query.end_date || query.to || todayIST;\n\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!dateRegex.test(startDate)) startDate = todayIST;\nif (!dateRegex.test(endDate)) endDate = todayIST;\n\nif (new Date(startDate) > new Date(endDate)) {\n  const temp = startDate;\n  startDate = endDate;\n  endDate = temp;\n}\n\nconst startDateTime = startDate + 'T00:00:00';\nconst endDateTime = endDate + 'T23:59:59';\n\nreturn [{\n  json: {\n    start_date: startDate,\n    end_date: endDate,\n    start_datetime: startDateTime,\n    end_datetime: endDateTime,\n    today: todayIST,\n    webhook_data: $input.first().json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        1040
      ],
      "id": "5808cd09-6648-40d0-8b75-81c99932b670",
      "name": "Parse Date Parameters"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        64,
        1040
      ],
      "id": "ea76ada3-6f9c-487f-a045-4b20f05a835c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.start_datetime }}"
            },
            {
              "keyName": "created_at",
              "condition": "lte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.end_datetime }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        512
      ],
      "id": "60f53d87-f37b-48ae-8bbd-bbcc2bf66221",
      "name": "Get Users (Filtered)",
      "credentials": {
        "supabaseApi": {
          "id": "HqDqF7XEeXJU9mKw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "whatsapp_conversations",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.start_datetime }}"
            },
            {
              "keyName": "created_at",
              "condition": "lte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.end_datetime }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        704
      ],
      "id": "5c0ddad0-d6bc-4816-a596-8a2596a1cde6",
      "name": "Get WhatsApp (Filtered)",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "HqDqF7XEeXJU9mKw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversations",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.start_datetime }}"
            },
            {
              "keyName": "created_at",
              "condition": "lte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.end_datetime }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        896
      ],
      "id": "3de22c44-9623-4faf-bc52-fa0633b98042",
      "name": "Get Calls (Filtered)",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "HqDqF7XEeXJU9mKw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "candidate_jd_matches",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "matched_at",
              "condition": "gte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.start_datetime }}"
            },
            {
              "keyName": "matched_at",
              "condition": "lte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.end_datetime }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        1184
      ],
      "id": "c1e94d08-b339-425f-a9d5-216dc414bd0b",
      "name": "Get Matches (Filtered)",
      "credentials": {
        "supabaseApi": {
          "id": "HqDqF7XEeXJU9mKw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "jd_data",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        1376
      ],
      "id": "3a8821c2-cd47-4cc8-a573-dadc132db7a3",
      "name": "Get JD Data",
      "credentials": {
        "supabaseApi": {
          "id": "HqDqF7XEeXJU9mKw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "recruiter_emails",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.start_datetime }}"
            },
            {
              "keyName": "created_at",
              "condition": "lte",
              "keyValue": "={{ $('Parse Date Parameters').item.json.end_datetime }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        1568
      ],
      "id": "cac80a47-5b58-4486-a408-8435cde79400",
      "name": "Get Emails (Filtered)",
      "credentials": {
        "supabaseApi": {
          "id": "HqDqF7XEeXJU9mKw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        960
      ],
      "id": "6d7f1f2f-0681-4274-a042-088354c7b661",
      "name": "Merge All Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst dateParams = $('Parse Date Parameters').first().json;\n\nlet usersData = [];\nlet whatsappMessages = [];\nlet calls = [];\nlet cvJdMatches = [];\nlet jdData = [];\nlet recruiterEmails = [];\n\nitems.forEach(item => {\n  if (item.json) {\n    const data = item.json;\n    if (data.start_date && data.end_date && data.webhook_data) return;\n    if (data.phone_number && data.profile_completion_per !== undefined) {\n      usersData.push(data);\n    } else if (data.message_text && data.direction) {\n      whatsappMessages.push(data);\n    } else if (data.call_stage !== undefined || data.elevenlabs_conversation_id) {\n      calls.push(data);\n    } else if (data.candidate_id && data.jd_id && data.matching_score !== undefined) {\n      cvJdMatches.push(data);\n    } else if (data.role_code && data.role_name) {\n      jdData.push(data);\n    } else if (data.recruiter_email || (data.email_subject && data.user_id)) {\n      recruiterEmails.push(data);\n    }\n  }\n});\n\nconst jdMap = {};\njdData.forEach(jd => { jdMap[jd.id] = jd; });\n\nconst userMap = {};\nusersData.forEach(user => { userMap[user.id] = user; });\n\nreturn [{\n  json: {\n    date_params: dateParams,\n    users: usersData,\n    whatsapp_messages: whatsappMessages,\n    calls: calls,\n    cv_jd_matches: cvJdMatches,\n    jd_data: jdData,\n    recruiter_emails: recruiterEmails,\n    jd_map: jdMap,\n    user_map: userMap,\n    counts: {\n      users: usersData.length,\n      whatsapp: whatsappMessages.length,\n      calls: calls.length,\n      matches: cvJdMatches.length,\n      jds: jdData.length,\n      emails: recruiterEmails.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        1040
      ],
      "id": "35a1fc69-4a33-4ac1-b6ed-9e51e31c2394",
      "name": "Process All Data"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst dateParams = data.date_params;\n\nconst usersData = data.users || [];\nconst whatsappMessages = data.whatsapp_messages || [];\nconst calls = data.calls || [];\nconst cvJdMatches = data.cv_jd_matches || [];\nconst jdData = data.jd_data || [];\nconst recruiterEmails = data.recruiter_emails || [];\nconst jdMap = data.jd_map || {};\n\nconst ELEVENLABS_API_KEY = 'REPLACE_WITH_YOUR_ELEVENLABS_KEY';\n\nfunction formatDateShort(dateString) {\n  if (!dateString) return 'N/A';\n  try {\n    var date = new Date(dateString);\n    return date.toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata', year: 'numeric', month: 'short', day: 'numeric' });\n  } catch (e) { return 'N/A'; }\n}\n\nfunction safeJsonParse(str, defaultVal) {\n  if (!str) return defaultVal;\n  if (typeof str === 'object') return str;\n  try { return JSON.parse(str); } catch (e) { return defaultVal; }\n}\n\nfunction safeGet(obj, path, defaultVal) {\n  if (!obj) return defaultVal || '';\n  var parts = path.split('.');\n  var current = obj;\n  for (var i = 0; i < parts.length; i++) {\n    if (current === null || current === undefined) return defaultVal || '';\n    current = current[parts[i]];\n  }\n  return current !== null && current !== undefined ? current : (defaultVal || '');\n}\n\nfunction cleanText(str) {\n  if (!str) return '';\n  return String(str).replace(/[\\r\\n\\t]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nvar processedUsers = usersData.map(function(user) {\n  var odId = user.id;\n  var cleanPhone = (user.phone_number || '').replace('+', '');\n  \n  var userWhatsapp = whatsappMessages.filter(function(msg) {\n    return msg.user_id === odId || (msg.phone_number || '').replace('+', '') === cleanPhone;\n  });\n  \n  var userCalls = calls.filter(function(call) {\n    return call.user_id === odId || ((call.external_number || '').replace('+', '') === cleanPhone);\n  });\n  \n  var userMatches = cvJdMatches.filter(function(m) { return m.candidate_id === odId; })\n    .sort(function(a, b) { return (b.matching_score || 0) - (a.matching_score || 0); });\n  \n  var userEmails = recruiterEmails.filter(function(e) { return e.user_id === odId; });\n  \n  var interestConfirmedIds = safeJsonParse(user.interest_confirmed_jd_ids, []);\n  var cvData = safeJsonParse(user.generated_cv_text, {});\n  \n  var whatsappOutbound = userWhatsapp.filter(function(m) { return m.direction === 'outbound'; }).length;\n  var whatsappInbound = userWhatsapp.filter(function(m) { return m.direction === 'inbound'; }).length;\n  var callsSuccessful = userCalls.filter(function(c) { return c.status === 'done'; }).length;\n  var callsNoAnswer = userCalls.filter(function(c) { return c.status === 'initiated'; }).length;\n  var callsFailed = userCalls.filter(function(c) { return c.status !== 'done' && c.status !== 'initiated'; }).length;\n  var totalCallDuration = userCalls.reduce(function(sum, c) { return sum + (c.call_duration_secs || 0); }, 0);\n  \n  var sortedWA = userWhatsapp.slice().sort(function(a, b) { return new Date(a.created_at) - new Date(b.created_at); });\n  var lastWhatsapp = sortedWA.length > 0 ? sortedWA[sortedWA.length - 1] : null;\n  \n  var sortedCalls = userCalls.slice().sort(function(a, b) { return new Date(b.created_at) - new Date(a.created_at); });\n  var lastCall = sortedCalls.length > 0 ? sortedCalls[0] : null;\n  \n  var hasCV = !!(user.linkedin_cv_text || user.file_cv_text);\n  var isInterested = interestConfirmedIds.length > 0 || (user.jobs_interested_count || 0) > 0;\n  \n  var hasSuccessfulWA = false;\n  var allWAFailed = false;\n  if (userWhatsapp.length > 0) {\n    var nonFailedMsgs = userWhatsapp.filter(function(m) {\n      var st = (m.status || '').toLowerCase();\n      return st !== 'failed' && st !== 'error' && st !== 'undelivered';\n    });\n    hasSuccessfulWA = nonFailedMsgs.length > 0;\n    allWAFailed = nonFailedMsgs.length === 0;\n  }\n  \n  var waFailedCount = user.whatsapp_failed_attempt_count || 0;\n  var waLastFailureReason = user.whatsapp_last_failure_reason || '';\n  var waFailedBase = allWAFailed || waFailedCount > 0 || !!waLastFailureReason;\n  var waReconnected = waFailedBase && whatsappInbound > 0;\n  var waFailed = waFailedBase && whatsappInbound === 0;\n  var waConnected = hasSuccessfulWA;\n  \n  var cleanedMessages = sortedWA.slice(-50).map(function(m) {\n    return {\n      direction: m.direction || 'inbound',\n      message_text: cleanText(m.message_text),\n      created_at: m.created_at,\n      sender: m.sender || m.direction,\n      status: m.status || ''\n    };\n  });\n  \n  var processedCalls = sortedCalls.slice(0, 20).map(function(c) {\n    return {\n      id: c.id,\n      status: c.status || '',\n      outcome: c.outcome || '',\n      call_duration_secs: c.call_duration_secs || 0,\n      created_at: c.created_at,\n      ended_at: c.ended_at,\n      reason: c.reason || '',\n      elevenlabs_conversation_id: c.elevenlabs_conversation_id || '',\n      transcript: cleanText(c.transcript || c.call_transcript || '')\n    };\n  });\n  \n  return {\n    id: user.id,\n    name: cleanText(user.name) || '',\n    phone_number: user.phone_number || '',\n    email: user.email || '',\n    status: user.status || '',\n    profile_completion_per: user.profile_completion_per || 0,\n    cv_file_url: user.cv_file_url || '',\n    linkedin_url: user.linkedin_url || '',\n    company: cleanText(user.company) || '',\n    created_at: user.created_at || '',\n    cumulative_matches_count: user.cumulative_matches_count || 0,\n    jobs_interested_count: user.jobs_interested_count || 0,\n    jobs_presented_count: user.jobs_presented_count || 0,\n    has_cv: hasCV,\n    is_interested: isInterested,\n    wa_failed: waFailed,\n    wa_failed_count: waFailedCount,\n    wa_failure_reason: waLastFailureReason,\n    wa_reconnected: waReconnected,\n    wa_connected: waConnected,\n    whatsapp_stats: {\n      total: userWhatsapp.length,\n      outbound: whatsappOutbound,\n      inbound: whatsappInbound,\n      last_message_at: lastWhatsapp ? lastWhatsapp.created_at : null,\n      failed_count: userWhatsapp.filter(function(m){ return (m.status || '').toLowerCase() === 'failed' }).length,\n      sent_count: userWhatsapp.filter(function(m){ return (m.status || '').toLowerCase() === 'sent' }).length,\n      delivered_count: userWhatsapp.filter(function(m){ return (m.status || '').toLowerCase() === 'delivered' }).length,\n      received_count: userWhatsapp.filter(function(m){ return (m.status || '').toLowerCase() === 'received' }).length\n    },\n    call_stats: {\n      total: userCalls.length,\n      successful: callsSuccessful,\n      no_answer: callsNoAnswer,\n      failed: callsFailed,\n      total_duration: totalCallDuration,\n      last_call_at: lastCall ? lastCall.created_at : null\n    },\n    match_stats: {\n      total: userMatches.length,\n      best_score: userMatches.length > 0 ? userMatches[0].matching_score : 0\n    },\n    email_stats: { total: userEmails.length },\n    interest_confirmed_jd_ids: interestConfirmedIds,\n    cv_location: cleanText(safeGet(cvData, 'personal_info.current_location', '')),\n    cv_role: cleanText(safeGet(cvData, 'current_role.title', '')),\n    cv_company: cleanText(safeGet(cvData, 'current_role.company', '')),\n    cv_current_ctc: cleanText(safeGet(cvData, 'compensation_and_availability.current_ctc', '')),\n    cv_expected_ctc: cleanText(safeGet(cvData, 'compensation_and_availability.expected_ctc', '')),\n    cv_notice: cleanText(safeGet(cvData, 'compensation_and_availability.notice_period', '')),\n    matches: userMatches.slice(0, 10).map(function(m) {\n      return {\n        jd_id: m.jd_id,\n        matching_score: m.matching_score || 0,\n        skills_score: m.skills_score || 0,\n        experience_score: m.experience_score || 0,\n        matched_at: m.matched_at\n      };\n    }),\n    whatsapp_messages: cleanedMessages,\n    calls: processedCalls,\n    emails: userEmails.map(function(e) { return { jd_id: e.jd_id }; }),\n    call_cv_text: user.call_cv_text || null,\n    team_manager_email: user.team_manager_email || '',\n    recruiter_email: user.recruiter_email || '',\n    referred_by_code: user.referred_by_code || '',\n    referred_by_user_id: user.referred_by_user_id || '',\n    is_referral: !!(user.referred_by_code),\n    last_activity: lastCall ? lastCall.created_at : (lastWhatsapp ? lastWhatsapp.created_at : user.updated_at)\n  };\n}).sort(function(a, b) { return new Date(b.last_activity || 0) - new Date(a.last_activity || 0); });\n\nvar dailyFunnel = {};\nusersData.forEach(function(user) {\n  var date = formatDateShort(user.created_at);\n  if (!dailyFunnel[date]) {\n    dailyFunnel[date] = { date: date, new_users: 0, profile_complete: 0, cv_shared: 0, matching_done: 0, jobs_shared: 0, interest_shown: 0, recruiter_contacted: 0 };\n  }\n  dailyFunnel[date].new_users++;\n  if ((user.profile_completion_per || 0) >= 70) dailyFunnel[date].profile_complete++;\n  if (user.linkedin_cv_text || user.file_cv_text) dailyFunnel[date].cv_shared++;\n  if ((user.cumulative_matches_count || 0) > 0) dailyFunnel[date].matching_done++;\n  if ((user.jobs_presented_count || 0) > 0) dailyFunnel[date].jobs_shared++;\n  if ((user.jobs_interested_count || 0) > 0) dailyFunnel[date].interest_shown++;\n});\n\nrecruiterEmails.forEach(function(email) {\n  var date = formatDateShort(email.created_at);\n  if (dailyFunnel[date]) dailyFunnel[date].recruiter_contacted++;\n});\n\nvar dailyFunnelArray = Object.values(dailyFunnel).sort(function(a, b) { return new Date(b.date) - new Date(a.date); });\n\nvar cleanJdData = jdData.map(function(jd) {\n  return {\n    id: jd.id,\n    role_code: cleanText(jd.role_code),\n    role_name: cleanText(jd.role_name),\n    location: cleanText(jd.location),\n    experience_range: cleanText(jd.experience_range),\n    vendor_rate_per_month: cleanText(jd.vendor_rate_per_month),\n    no_of_positions: jd.no_of_positions || 0,\n    status: jd.status || '',\n    brief_context: jd.brief_context || ''\n  };\n});\n\nvar cleanJdMap = {};\ncleanJdData.forEach(function(jd) { cleanJdMap[jd.id] = jd; });\n\nvar uniqueStatuses = [];\nvar uniqueTeamManagers = [];\nvar uniqueRecruiters = [];\nprocessedUsers.forEach(function(u) {\n  if (u.status && uniqueStatuses.indexOf(u.status) === -1) uniqueStatuses.push(u.status);\n  if (u.team_manager_email && uniqueTeamManagers.indexOf(u.team_manager_email) === -1) uniqueTeamManagers.push(u.team_manager_email);\n  if (u.recruiter_email && uniqueRecruiters.indexOf(u.recruiter_email) === -1) uniqueRecruiters.push(u.recruiter_email);\n});\nuniqueTeamManagers.sort();\nuniqueRecruiters.sort();\n\nvar dashboardDataObj = {\n  users: processedUsers,\n  jd_data: cleanJdData,\n  jd_map: cleanJdMap,\n  daily_funnel: dailyFunnelArray,\n  date_params: dateParams,\n  statuses: uniqueStatuses,\n  elevenlabs_key: ELEVENLABS_API_KEY\n};\n\nvar dashboardDataStr = JSON.stringify(dashboardDataObj);\ndashboardDataStr = dashboardDataStr.replace(/\\\\/g, '\\\\\\\\');\ndashboardDataStr = dashboardDataStr.replace(/'/g, \"\\\\'\");\ndashboardDataStr = dashboardDataStr.replace(/</g, '\\\\u003c');\ndashboardDataStr = dashboardDataStr.replace(/>/g, '\\\\u003e');\n\nvar statusOptions = '<option value=\"\">All Statuses</option>';\nfor (var i = 0; i < uniqueStatuses.length; i++) {\n  statusOptions += '<option value=\"' + uniqueStatuses[i] + '\">' + uniqueStatuses[i] + '</option>';\n}\nvar teamOptions = '<option value=\"\">All Team Managers</option>';\nfor (var i = 0; i < uniqueTeamManagers.length; i++) {\n  teamOptions += '<option value=\"' + uniqueTeamManagers[i] + '\">' + uniqueTeamManagers[i] + '</option>';\n}\nvar recruiterOptions = '<option value=\"\">All Recruiters</option>';\nfor (var i = 0; i < uniqueRecruiters.length; i++) {\n  recruiterOptions += '<option value=\"' + uniqueRecruiters[i] + '\">' + uniqueRecruiters[i] + '</option>';\n}\n\nvar html = '';\nhtml += '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>Recruiter Dashboard</title>';\nhtml += '<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">';\nhtml += '<style>';\n\n// ============ LIGHT MODE (Default) ============\nhtml += ':root{--bg-body:#f5f7fa;--bg-card:#ffffff;--bg-card-alt:#f8fafc;--bg-input:#f1f5f9;--bg-hover:#e2e8f0;--border:#e2e8f0;--border-light:#f1f5f9;--text-primary:#1e293b;--text-secondary:#64748b;--text-muted:#94a3b8;--accent:#3b82f6;--accent-hover:#2563eb;--accent-bg:rgba(59,130,246,0.1);--success:#16a34a;--success-bg:rgba(34,197,94,0.1);--warning:#f59e0b;--warning-bg:rgba(245,158,11,0.1);--danger:#ef4444;--danger-bg:rgba(239,68,68,0.1);--info:#0ea5e9;--info-bg:rgba(14,165,233,0.1);--cyan:#06b6d4;--cyan-bg:rgba(6,182,212,0.1);--pink:#ec4899;--pink-bg:rgba(236,72,153,0.1);--card-header:#2563eb;--shadow:0 1px 3px rgba(0,0,0,0.08);--shadow-md:0 4px 6px -1px rgba(0,0,0,0.07)}';\n\n// ============ DARK MODE ============\nhtml += '[data-theme=\"dark\"]{--bg-body:#0f172a;--bg-card:#1e293b;--bg-card-alt:#334155;--bg-input:#334155;--bg-hover:#475569;--border:#334155;--border-light:#475569;--text-primary:#f1f5f9;--text-secondary:#94a3b8;--text-muted:#64748b;--accent:#60a5fa;--accent-hover:#3b82f6;--accent-bg:rgba(96,165,250,0.15);--success:#22c55e;--success-bg:rgba(74,222,128,0.15);--warning:#fbbf24;--warning-bg:rgba(251,191,36,0.15);--danger:#f87171;--danger-bg:rgba(248,113,113,0.15);--info:#38bdf8;--info-bg:rgba(56,189,248,0.15);--cyan:#22d3ee;--cyan-bg:rgba(34,211,238,0.15);--pink:#f472b6;--pink-bg:rgba(244,114,182,0.15);--card-header:#3b82f6;--shadow:0 1px 3px rgba(0,0,0,0.3);--shadow-md:0 4px 6px -1px rgba(0,0,0,0.4)}';\n\n// ============ BASE - COMPACT ============\nhtml += '*{margin:0;padding:0;box-sizing:border-box}';\nhtml += 'body{font-family:\"Inter\",-apple-system,sans-serif;background:var(--bg-body);color:var(--text-primary);font-size:13px;line-height:1.5}';\nhtml += '.container{max-width:100%;padding:12px 16px}';\n\n// ============ HEADER - COMPACT ============\nhtml += '.header{background:var(--bg-card);border:1px solid var(--border);border-radius:12px;padding:12px 16px;margin-bottom:12px;display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;gap:10px}';\nhtml += '.header h1{font-size:1.1rem;font-weight:700;color:var(--accent);display:flex;align-items:center;gap:8px}';\nhtml += '.header-right{display:flex;align-items:center;gap:10px}';\nhtml += '.date-badge{background:var(--bg-input);padding:6px 12px;border-radius:20px;font-size:0.75rem;font-weight:500;color:var(--text-secondary);border:1px solid var(--border)}';\nhtml += '.theme-toggle{display:flex;background:var(--bg-input);border-radius:20px;padding:3px;border:1px solid var(--border)}';\nhtml += '.theme-btn{padding:5px 10px;border:none;border-radius:16px;cursor:pointer;font-size:0.7rem;font-weight:500;background:transparent;color:var(--text-muted);transition:all 0.2s}';\nhtml += '.theme-btn.active{background:var(--accent);color:#fff}';\n\n// ============ CARDS - COMPACT ============\nhtml += '.card{background:var(--bg-card);border:1px solid var(--border);border-radius:10px;padding:12px 14px;margin-bottom:12px}';\n\n// ============ FILTERS - COMPACT ============\nhtml += '.section-title{font-size:0.8rem;font-weight:600;color:var(--text-primary);margin-bottom:10px;display:flex;align-items:center;gap:8px;cursor:pointer}';\nhtml += '.section-title .arrow{color:var(--text-muted);font-size:0.7rem;transition:transform 0.2s}';\nhtml += '.section-title.open .arrow{transform:rotate(90deg)}';\nhtml += '.collapsible{max-height:0;overflow:hidden;transition:max-height 0.3s}';\nhtml += '.collapsible.show{max-height:2000px}';\nhtml += '.filter-label{font-size:0.65rem;font-weight:600;color:var(--accent);text-transform:uppercase;letter-spacing:0.5px;margin:10px 0 8px}';\nhtml += '.filter-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(160px,1fr));gap:10px}';\nhtml += '.filter-item{display:flex;flex-direction:column;gap:4px}';\nhtml += '.filter-item label{font-size:0.65rem;font-weight:500;color:var(--text-secondary);text-transform:uppercase}';\nhtml += '.filter-input,.filter-select{background:var(--bg-input);border:1px solid var(--border);border-radius:6px;padding:7px 10px;color:var(--text-primary);font-size:0.8rem;width:100%}';\nhtml += '.filter-input:focus,.filter-select:focus{outline:none;border-color:var(--accent)}';\nhtml += '.cond-row{display:flex;gap:6px}';\nhtml += '.cond-row .cond-select{width:60px;padding:7px 4px;font-size:0.75rem}';\nhtml += '.filter-divider{border-top:1px solid var(--border);margin:12px 0}';\n\n// ============ BUTTONS - COMPACT ============\nhtml += '.btn{padding:7px 14px;border:none;border-radius:6px;cursor:pointer;font-weight:500;font-size:0.75rem;transition:all 0.2s;display:inline-flex;align-items:center;gap:5px}';\nhtml += '.btn-primary{background:var(--accent);color:#fff}';\nhtml += '.btn-primary:hover{background:var(--accent-hover)}';\nhtml += '.btn-secondary{background:var(--bg-input);color:var(--text-primary);border:1px solid var(--border)}';\nhtml += '.btn-group{display:flex;gap:8px;flex-wrap:wrap}';\nhtml += '.quick-dates{display:flex;gap:5px;flex-wrap:wrap}';\nhtml += '.qd-btn{padding:6px 10px;background:var(--bg-card);border:1px solid var(--border);border-radius:16px;color:var(--text-secondary);cursor:pointer;font-size:0.7rem;font-weight:500;transition:all 0.2s}';\nhtml += '.qd-btn:hover{background:var(--accent);color:#fff;border-color:var(--accent)}';\n\n// ============ CROSS FILTER ============\nhtml += '.cross-filter{background:var(--accent);border-radius:8px;padding:10px 14px;display:none;align-items:center;gap:10px;margin-bottom:12px;color:#fff;font-size:0.8rem}';\nhtml += '.cross-filter.active{display:flex}';\nhtml += '.cross-filter .clear-btn{margin-left:auto;background:rgba(255,255,255,0.2);border:none;color:#fff;padding:5px 10px;border-radius:4px;cursor:pointer;font-size:0.75rem}';\n\n// ============ STATS - COMPACT - Updated for more cards ============\nhtml += '.stats-grid{display:grid;gap:8px;margin-bottom:12px;grid-template-columns:repeat(11,1fr)}';html += '@media(max-width:1200px){.stats-grid{grid-template-columns:repeat(7,1fr)}}';html += '@media(max-width:900px){.stats-grid{grid-template-columns:repeat(5,1fr)}}';html += '@media(max-width:600px){.stats-grid{grid-template-columns:repeat(3,1fr)}}';\nhtml += '.stat-card{background:var(--bg-card);border:1px solid var(--border);border-radius:10px;padding:10px 8px;text-align:center;transition:all 0.2s}';\nhtml += '.stat-card:hover{transform:translateY(-2px);box-shadow:var(--shadow-md)}';\nhtml += '.stat-card.hl-green{background:var(--success-bg);border-color:var(--success)}';\nhtml += '.stat-card.hl-cyan{background:var(--cyan-bg);border-color:var(--cyan)}';\nhtml += '.stat-card.hl-danger{background:var(--danger-bg);border-color:var(--danger)}';\nhtml += '.stat-card.hl-pink{background:var(--pink-bg);border-color:var(--pink)}';\nhtml += '.stat-card.hl-info{background:var(--info-bg);border-color:var(--info)}';\nhtml += '.stat-card.hl-warning{background:var(--warning-bg);border-color:var(--warning)}';\nhtml += '.stat-icon{font-size:1.1rem;margin-bottom:3px}';\nhtml += '.stat-number{font-size:1.3rem;font-weight:700;color:var(--text-primary)}';\nhtml += '.stat-label{font-size:0.55rem;color:var(--text-muted);text-transform:uppercase;letter-spacing:0.3px;margin-top:2px}';\n\n// ============ TABS - COMPACT PILLS ============\nhtml += '.tabs{display:flex;gap:6px;margin-bottom:12px;flex-wrap:wrap;padding:6px;background:var(--bg-card);border-radius:10px;border:1px solid var(--border)}';\nhtml += '.tab{padding:8px 14px;background:transparent;border:none;border-radius:6px;color:var(--text-secondary);cursor:pointer;font-size:0.75rem;font-weight:600;transition:all 0.2s}';\nhtml += '.tab:hover{color:var(--text-primary);background:var(--bg-hover)}';\nhtml += '.tab.active{background:var(--accent);color:#fff}';\nhtml += '.tab.interested{background:#16a34a;color:#fff}';\nhtml += '.tab-content{display:none;background:var(--bg-card);border:1px solid var(--border);border-radius:10px;padding:14px}';\nhtml += '.tab-content.active{display:block}';\n\n// ============ TAB HEADER ============\nhtml += '.tab-header{display:flex;justify-content:space-between;align-items:center;margin-bottom:12px;flex-wrap:wrap;gap:10px}';\nhtml += '.tab-header h2{font-size:0.95rem;font-weight:600;color:var(--text-primary);display:flex;align-items:center;gap:6px}';\nhtml += '.tab-controls{display:flex;gap:8px;align-items:center}';\nhtml += '.sort-select{background:var(--bg-input);border:1px solid var(--border);border-radius:6px;padding:6px 10px;color:var(--text-primary);font-size:0.75rem}';\nhtml += '.info-badge{font-size:0.7rem;color:var(--text-muted);background:var(--bg-input);padding:5px 10px;border-radius:12px}';\n\n// ============ TABLE - COMPACT ============\nhtml += '.table-container{overflow-x:auto;border-radius:8px;border:1px solid var(--border)}';\nhtml += 'table{width:100%;border-collapse:collapse;font-size:0.75rem}';\nhtml += 'thead{background:var(--bg-card-alt)}';\nhtml += 'th{padding:10px 8px;text-align:left;font-weight:600;font-size:0.65rem;text-transform:uppercase;letter-spacing:0.5px;color:var(--text-secondary);border-bottom:1px solid var(--border)}';\nhtml += 'td{padding:8px;border-bottom:1px solid var(--border);color:var(--text-primary)}';\nhtml += 'tbody tr:hover{background:var(--bg-hover)}';\nhtml += 'tbody tr.int-row{background:var(--success-bg);border-left:3px solid var(--success)}';\nhtml += 'tbody tr:last-child td{border-bottom:none}';\n\n// ============ USER GRID - COMPACT ============\nhtml += '.user-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(280px,1fr));gap:10px}';\nhtml += '.user-list{display:none}';\nhtml += '.view-toggle{display:flex;background:var(--bg-input);border-radius:6px;padding:2px;border:1px solid var(--border)}';\nhtml += '.toggle-btn{padding:5px 10px;border:none;border-radius:4px;cursor:pointer;font-size:0.7rem;font-weight:500;background:transparent;color:var(--text-muted);transition:all 0.2s}';\nhtml += '.toggle-btn.active{background:var(--accent);color:#fff}';\nhtml += '.user-card{background:var(--bg-card);border:1px solid var(--border);border-radius:10px;overflow:hidden;cursor:pointer;transition:all 0.2s}';\nhtml += '.user-card:hover{transform:translateY(-2px);box-shadow:var(--shadow-md)}';\nhtml += '.user-card.selected{border-color:var(--accent)}';\nhtml += '.user-card.int-card{border-left:3px solid var(--success)}';\nhtml += '.user-card-header{background:var(--card-header);padding:10px 12px;display:flex;justify-content:space-between;align-items:flex-start}';\nhtml += '.user-card-header h3{font-size:0.85rem;font-weight:600;color:#fff;margin-bottom:2px}';\nhtml += '.user-card-header .phone{font-size:0.7rem;color:rgba(255,255,255,0.8);font-family:monospace}';\nhtml += '.badges{display:flex;gap:4px;flex-wrap:wrap}';\nhtml += '.badge{padding:2px 6px;border-radius:8px;font-size:0.55rem;font-weight:600;text-transform:uppercase}';\nhtml += '.badge-int{background:#16a34a;color:#fff}';\nhtml += '.badge-cv{background:var(--info);color:#fff}';\nhtml += '.badge-fail{background:var(--danger);color:#fff}';\nhtml += '.badge-recon{background:var(--cyan);color:#fff}';\nhtml += '.user-card-body{padding:10px 12px}';\nhtml += '.user-stats-row{display:grid;grid-template-columns:repeat(4,1fr);gap:6px;margin-bottom:8px}';\nhtml += '.user-stat-item{text-align:center;padding:6px 4px;background:var(--bg-card-alt);border-radius:6px}';\nhtml += '.user-stat-item .value{font-size:0.85rem;font-weight:700;color:var(--accent)}';\nhtml += '.user-stat-item .label{font-size:0.5rem;color:var(--text-muted);text-transform:uppercase;margin-top:1px}';\nhtml += '.user-info-grid{display:grid;grid-template-columns:1fr 1fr;gap:6px;font-size:0.7rem}';\nhtml += '.user-info-item{display:flex;align-items:center;gap:4px;color:var(--text-secondary);overflow:hidden}';\nhtml += '.user-info-item .val{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}';\nhtml += '.user-card-footer{padding:8px 12px;background:var(--bg-card-alt);display:flex;justify-content:space-between;align-items:center;font-size:0.65rem}';\nhtml += '.user-card-footer .activity{color:var(--text-muted)}';\nhtml += '.action-btns{display:flex;gap:4px}';\nhtml += '.mini-btn{padding:4px 8px;border:none;border-radius:4px;cursor:pointer;font-size:0.65rem;font-weight:600;transition:all 0.15s}';\nhtml += '.mini-btn-primary{background:var(--accent);color:#fff}';\nhtml += '.mini-btn-secondary{background:var(--bg-hover);color:var(--text-primary)}';\nhtml += '.mini-btn-success{background:var(--success);color:#fff}';\nhtml += '.mini-btn-warning{background:var(--warning);color:#fff}';\nhtml += '.mini-btn-danger{background:var(--danger);color:#fff}';\n\n// ============ MODAL - COMPACT ============\nhtml += '.modal{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5);z-index:1000;overflow-y:auto;padding:16px}';\nhtml += '.modal.active{display:flex;justify-content:center;align-items:flex-start}';\nhtml += '.modal-content{background:var(--bg-body);border:1px solid var(--border);border-radius:12px;max-width:900px;width:100%;margin:16px auto;max-height:90vh;overflow-y:auto}';\nhtml += '.modal-header{background:var(--card-header);padding:12px 16px;border-radius:12px 12px 0 0;display:flex;justify-content:space-between;align-items:center;position:sticky;top:0;z-index:10}';\nhtml += '.modal-header h2{font-size:1rem;font-weight:600;color:#fff}';\nhtml += '.modal-close{background:rgba(255,255,255,0.2);border:none;color:#fff;font-size:1.1rem;width:30px;height:30px;border-radius:50%;cursor:pointer;display:flex;align-items:center;justify-content:center}';\nhtml += '.modal-body{padding:16px}';\nhtml += '.modal-section{background:var(--bg-card);border:1px solid var(--border);border-radius:8px;margin-bottom:10px;overflow:hidden}';\nhtml += '.modal-section-header{padding:10px 12px;display:flex;justify-content:space-between;align-items:center;cursor:pointer;background:var(--bg-card-alt)}';\nhtml += '.modal-section-header h3{font-size:0.85rem;font-weight:600;color:var(--text-primary);display:flex;align-items:center;gap:8px}';\nhtml += '.modal-section-header .count{background:var(--accent);color:#fff;padding:2px 8px;border-radius:10px;font-size:0.7rem}';\nhtml += '.modal-section-header .arrow{color:var(--text-muted);font-size:0.75rem}';\nhtml += '.modal-section-body{padding:12px;display:none}';\nhtml += '.modal-section-body.show{display:block}';\nhtml += '.cv-link{display:inline-flex;align-items:center;gap:6px;background:var(--accent);color:#fff;padding:8px 14px;border-radius:6px;text-decoration:none;font-size:0.75rem;font-weight:500;margin:3px}';\nhtml += '.match-card{background:var(--bg-card-alt);border-radius:8px;padding:10px;margin-bottom:8px;border-left:3px solid var(--accent)}';\nhtml += '.match-card.int{border-left-color:var(--success);background:var(--success-bg)}';\nhtml += '.match-score{font-size:1rem;font-weight:700;padding:4px 10px;border-radius:6px;color:#fff}';\nhtml += '.match-score.high{background:var(--success)}';\nhtml += '.match-score.med{background:var(--warning)}';\nhtml += '.match-score.low{background:var(--danger)}';\nhtml += '.message-list{max-height:350px;overflow-y:auto;padding:10px;background:var(--bg-card-alt);border-radius:8px}';\nhtml += '.msg-bubble{max-width:80%;padding:10px 12px;border-radius:12px;margin-bottom:8px;font-size:0.75rem}';\nhtml += '.msg-bubble.out{background:var(--accent);color:#fff;margin-left:auto;border-bottom-right-radius:4px}';\nhtml += '.msg-bubble.in{background:var(--bg-card);color:var(--text-primary);border:1px solid var(--border);margin-right:auto;border-bottom-left-radius:4px}';\nhtml += '.msg-meta{font-size:0.6rem;opacity:0.7;margin-top:4px}';\nhtml += '.msg-status{font-size:0.6rem;padding:3px 8px;border-radius:10px;margin-left:8px;font-weight:700;text-transform:uppercase;letter-spacing:0.3px}';\nhtml += '.msg-status.st-sent{background:#3b82f6;color:#fff}';\nhtml += '.msg-status.st-delivered{background:#22c55e;color:#fff}';\nhtml += '.msg-status.st-received{background:#06b6d4;color:#fff}';\nhtml += '.msg-status.st-failed{background:#ef4444;color:#fff}';\nhtml += '.msg-status.st-null{background:#6b7280;color:#fff}';\nhtml += '.call-card{background:var(--bg-card-alt);border-radius:8px;padding:10px;margin-bottom:8px;border:1px solid var(--border)}';\nhtml += '.call-status{padding:3px 8px;border-radius:4px;font-size:0.65rem;font-weight:600;text-transform:uppercase}';\nhtml += '.call-status.done{background:var(--success-bg);color:var(--success)}';\nhtml += '.call-status.initiated{background:var(--warning-bg);color:var(--warning)}';\nhtml += '.call-status.failed{background:var(--danger-bg);color:var(--danger)}';\nhtml += '.transcript-box{background:var(--bg-body);border:1px solid var(--border);border-radius:6px;padding:10px;margin-top:8px;font-size:0.75rem;max-height:250px;overflow-y:auto;display:none}';\nhtml += '.transcript-box.show{display:block}';\nhtml += '.audio-player{width:100%;height:36px;border-radius:6px;margin-top:8px}';\n\n// ============ PAGINATION ============\nhtml += '.pagination{display:flex;justify-content:center;gap:4px;margin-top:12px}';\nhtml += '.pg-btn{padding:6px 10px;background:var(--bg-card);border:1px solid var(--border);border-radius:4px;color:var(--text-primary);cursor:pointer;font-size:0.7rem}';\nhtml += '.pg-btn:hover:not(:disabled){background:var(--accent);border-color:var(--accent);color:#fff}';\nhtml += '.pg-btn.active{background:var(--accent);border-color:var(--accent);color:#fff}';\nhtml += '.pg-btn:disabled{opacity:0.4;cursor:not-allowed}';\n\n// ============ ANALYSIS TABLE ============\nhtml += '.analysis-table{width:100%;border-collapse:collapse;font-size:0.75rem;margin-bottom:20px}';\nhtml += '.analysis-table th,.analysis-table td{padding:8px 10px;border:1px solid var(--border);text-align:center}';\nhtml += '.analysis-table th{background:var(--bg-card-alt);font-weight:600;font-size:0.65rem;text-transform:uppercase}';\nhtml += '.analysis-table td{background:var(--bg-card)}';\nhtml += '.analysis-table .row-label{text-align:left;font-weight:500;background:var(--bg-card-alt)}';\nhtml += '.analysis-table .highlight-green{background:var(--success-bg);color:var(--success)}';\nhtml += '.analysis-table .highlight-red{background:var(--danger-bg);color:var(--danger)}';\nhtml += '.analysis-table .section-header{background:var(--accent);color:#fff;font-weight:600}';\nhtml += '.analysis-table .sub-header{background:var(--bg-hover);font-weight:600}';\nhtml += '.analysis-section{margin-bottom:20px}';\nhtml += '.analysis-section h3{font-size:0.9rem;font-weight:600;margin-bottom:10px;color:var(--text-primary)}';\n\n// ============ SCROLLBAR ============\nhtml += '::-webkit-scrollbar{width:6px;height:6px}';\nhtml += '::-webkit-scrollbar-track{background:var(--bg-card-alt)}';\nhtml += '::-webkit-scrollbar-thumb{background:var(--border-light);border-radius:3px}';\nhtml += '::-webkit-scrollbar-thumb:hover{background:var(--accent)}';\n\nhtml += '.loading-overlay{position:fixed;top:0;left:0;right:0;bottom:0;background:var(--bg-body);z-index:9999;display:flex;flex-direction:column;justify-content:center;align-items:center}.loading-spinner{width:40px;height:40px;border:3px solid var(--border);border-top-color:var(--accent);border-radius:50%;animation:spin 0.8s linear infinite}.loading-text{margin-top:16px;color:var(--text-secondary);font-size:0.9rem}@keyframes spin{to{transform:rotate(360deg)}}';\nhtml += '</style></head><body><div id=\"loading-overlay\" class=\"loading-overlay\"><div class=\"loading-spinner\"></div><div class=\"loading-text\">Loading dashboard...</div></div><div class=\"container\">';\n\n// Header\nhtml += '<div class=\"header\"><h1>📊 Recruiter Dashboard</h1><div class=\"header-right\"><div class=\"date-badge\">📅 ' + dateParams.start_date + ' → ' + dateParams.end_date + '</div>';\nhtml += '<div class=\"theme-toggle\"><button class=\"theme-btn active\" data-theme=\"light\">☀️ Light</button><button class=\"theme-btn\" data-theme=\"dark\">🌙 Dark</button></div></div></div>';\n\n// Date form\nhtml += '<div class=\"card\">';\nhtml += '<form id=\"date-form\" method=\"GET\" style=\"display:flex;flex-wrap:wrap;gap:10px;align-items:flex-end\">';\nhtml += '<div class=\"filter-item\"><label>📅 From</label><input type=\"date\" name=\"start_date\" id=\"start-date\" value=\"' + dateParams.start_date + '\" class=\"filter-input\"></div>';\nhtml += '<div class=\"filter-item\"><label>📅 To</label><input type=\"date\" name=\"end_date\" id=\"end-date\" value=\"' + dateParams.end_date + '\" class=\"filter-input\"></div>';\nhtml += '<button type=\"submit\" class=\"btn btn-primary\">🔄 Load Data</button>';\nhtml += '<div class=\"quick-dates\">';\nhtml += '<button type=\"button\" class=\"qd-btn\" data-range=\"today\">Today</button>';\nhtml += '<button type=\"button\" class=\"qd-btn\" data-range=\"yesterday\">Yesterday</button>';\nhtml += '<button type=\"button\" class=\"qd-btn\" data-range=\"week\">7 Days</button>';\nhtml += '<button type=\"button\" class=\"qd-btn\" data-range=\"month\">30 Days</button>';\nhtml += '<button type=\"button\" class=\"qd-btn\" data-range=\"all\">All</button>';\nhtml += '</div></form></div>';\n\n// Advanced Filters\nhtml += '<div class=\"card\">';\nhtml += '<div class=\"section-title\" id=\"filter-toggle\"><span class=\"arrow\">▶</span> 🔍 Advanced Filters & Search</div>';\nhtml += '<div class=\"collapsible\" id=\"filter-section\">';\n\n// Common filters\nhtml += '<div class=\"filter-label\">🌐 Common</div>';\nhtml += '<div class=\"filter-grid\">';\nhtml += '<div class=\"filter-item\"><label>🔎 Search</label><input type=\"text\" id=\"f-search\" placeholder=\"Name, phone...\" class=\"filter-input\"></div>';\nhtml += '<div class=\"filter-item\"><label>📅 From</label><input type=\"date\" id=\"f-from-date\" class=\"filter-input\"></div>';\nhtml += '<div class=\"filter-item\"><label>📅 To</label><input type=\"date\" id=\"f-to-date\" class=\"filter-input\"></div>';\nhtml += '<div class=\"filter-item\"><label>📋 Status</label><select id=\"f-status\" class=\"filter-select\">' + statusOptions + '</select></div>';\nhtml += '<div class=\"filter-item\"><label>👤 Team Manager</label><select id=\"f-team\" class=\"filter-select\">' + teamOptions + '</select></div>';\nhtml += '<div class=\"filter-item\"><label>📧 Recruiter</label><select id=\"f-recruiter\" class=\"filter-select\">' + recruiterOptions + '</select></div>';\nhtml += '</div>';\n\n// WhatsApp filters\nhtml += '<div class=\"filter-divider\"></div>';\nhtml += '<div class=\"filter-label\" style=\"color:var(--success)\">💬 WhatsApp</div>';\nhtml += '<div class=\"filter-grid\">';\nhtml += '<div class=\"filter-item\"><label>📤 Out</label><div class=\"cond-row\"><select id=\"f-out-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-out-v\" min=\"0\" class=\"filter-input\"></div></div>';\nhtml += '<div class=\"filter-item\"><label>📥 In</label><div class=\"cond-row\"><select id=\"f-in-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-in-v\" min=\"0\" class=\"filter-input\"></div></div>';\nhtml += '<div class=\"filter-item\"><label>📊 Total</label><div class=\"cond-row\"><select id=\"f-tm-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-tm-v\" min=\"0\" class=\"filter-input\"></div></div>';\nhtml += '</div>';\n\n// Call filters\nhtml += '<div class=\"filter-divider\"></div>';\nhtml += '<div class=\"filter-label\" style=\"color:var(--warning)\">📞 Calls</div>';\nhtml += '<div class=\"filter-grid\">';\nhtml += '<div class=\"filter-item\"><label>📊 Total</label><div class=\"cond-row\"><select id=\"f-tc-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-tc-v\" min=\"0\" class=\"filter-input\"></div></div>';\nhtml += '<div class=\"filter-item\"><label>✅ Success</label><div class=\"cond-row\"><select id=\"f-sc-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-sc-v\" min=\"0\" class=\"filter-input\"></div></div>';\nhtml += '<div class=\"filter-item\"><label>🚫 No Ans</label><div class=\"cond-row\"><select id=\"f-na-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-na-v\" min=\"0\" class=\"filter-input\"></div></div>';\nhtml += '<div class=\"filter-item\"><label>⏱️ Duration (sec)</label><div class=\"cond-row\"><select id=\"f-dr-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option><option value=\"btw\">↔ Between</option></select><input type=\"number\" id=\"f-dr-v\" min=\"0\" placeholder=\"Min\" class=\"filter-input\"><input type=\"number\" id=\"f-dr-v2\" min=\"0\" placeholder=\"Max\" class=\"filter-input\" style=\"display:none\"></div></div>';\nhtml += '</div>';\n\n// Profile filters\nhtml += '<div class=\"filter-divider\"></div>';\nhtml += '<div class=\"filter-label\" style=\"color:var(--info)\">👤 Profile</div>';\nhtml += '<div class=\"filter-grid\">';\nhtml += '<div class=\"filter-item\"><label>📊 Profile %</label><div class=\"cond-row\"><select id=\"f-pf-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-pf-v\" min=\"0\" max=\"100\" class=\"filter-input\"></div></div>';\nhtml += '<div class=\"filter-item\"><label>⭐ Score</label><div class=\"cond-row\"><select id=\"f-ms-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-ms-v\" min=\"0\" max=\"10\" step=\"0.1\" class=\"filter-input\"></div></div>';\nhtml += '<div class=\"filter-item\"><label>🎯 Matches</label><div class=\"cond-row\"><select id=\"f-mt-c\" class=\"filter-select cond-select\"><option value=\"\">-</option><option value=\"gt\">&gt;</option><option value=\"gte\">≥</option><option value=\"eq\">=</option><option value=\"lt\">&lt;</option><option value=\"lte\">≤</option></select><input type=\"number\" id=\"f-mt-v\" min=\"0\" class=\"filter-input\"></div></div>';\nhtml += '<div class=\"filter-item\"><label>📄 CV</label><select id=\"f-cv\" class=\"filter-select\"><option value=\"\">Any</option><option value=\"1\">Yes</option><option value=\"0\">No</option></select></div>';\nhtml += '<div class=\"filter-item\"><label>✅ Interest</label><select id=\"f-int\" class=\"filter-select\"><option value=\"\">Any</option><option value=\"1\">Yes</option><option value=\"0\">No</option></select></div>';\nhtml += '<div class=\"filter-item\"><label>📞 Comm</label><select id=\"f-comm\" class=\"filter-select\"><option value=\"\">All</option><option value=\"calls\">Calls</option><option value=\"wa\">WA</option><option value=\"both\">Both</option></select></div>';\nhtml += '<div class=\"filter-item\"><label>🔗 Referral</label><select id=\"f-referral\" class=\"filter-select\"><option value=\"\">All</option><option value=\"1\">Yes (Referred)</option><option value=\"0\">No (Direct)</option></select></div>';\nhtml += '<div class=\"filter-item\"><label>💬 WA Status</label><select id=\"f-wa-status\" class=\"filter-select\"><option value=\"\">All</option><option value=\"connected\">✓ Connected (incl. Recon)</option><option value=\"direct\">✓ Direct Connected</option><option value=\"reconnected\">↻ Reconnected</option><option value=\"failed\">✗ Failed Only</option></select></div>';\nhtml += '<div class=\"filter-item\"><label>📨 Msg Status</label><select id=\"f-msg-status\" class=\"filter-select\"><option value=\"\">All</option><option value=\"has_failed\">Has Failed Msgs</option><option value=\"all_delivered\">All Delivered</option><option value=\"has_sent\">Has Sent (Pending)</option><option value=\"no_failed\">No Failed Msgs</option></select></div>';\nhtml += '</div>';\n\n// Buttons\nhtml += '<div class=\"filter-divider\"></div>';\nhtml += '<div class=\"btn-group\">';\nhtml += '<button type=\"button\" class=\"btn btn-primary\" id=\"apply-btn\">✓ Apply</button>';\nhtml += '<button type=\"button\" class=\"btn btn-secondary\" id=\"reset-btn\">↺ Reset</button>';\nhtml += '</div>';\nhtml += '</div></div>';\n\n// Cross filter\nhtml += '<div class=\"cross-filter\" id=\"cross-filter\"><span>🔗 Filtering:</span><strong id=\"cf-name\"></strong><span id=\"cf-phone\"></span><button class=\"clear-btn\" id=\"clear-cf\">✕ Clear</button></div>';\n\n// Stats grid\nhtml += '<div class=\"stats-grid\" id=\"stats-grid\"></div>';\n\n// Tabs\nhtml += '<div class=\"tabs\" id=\"tabs-container\"></div>';\n\n// Tab contents\nhtml += '<div id=\"tab-users\" class=\"tab-content active\">';\nhtml += '<div class=\"tab-header\"><h2>👥 Users</h2><div class=\"tab-controls\">';\nhtml += '<select class=\"sort-select\" id=\"sort-users\"><option value=\"activity-desc\">Activity ↓</option><option value=\"activity-asc\">Activity ↑</option><option value=\"name-asc\">Name A-Z</option><option value=\"name-desc\">Name Z-A</option><option value=\"profile-desc\">Profile ↓</option><option value=\"profile-asc\">Profile ↑</option><option value=\"matches-desc\">Matches ↓</option><option value=\"calls-desc\">Calls ↓</option><option value=\"wa-desc\">WA ↓</option></select>';\nhtml += '<div class=\"view-toggle\"><button class=\"toggle-btn active\" data-view=\"grid\" id=\"view-grid\">☷ Grid</button><button class=\"toggle-btn\" data-view=\"list\" id=\"view-list\">☰ List</button></div>';\nhtml += '<span id=\"users-info\" class=\"info-badge\"></span></div></div>';\nhtml += '<div class=\"user-grid\" id=\"users-grid\"></div>';\nhtml += '<div class=\"user-list\" id=\"users-list\"><div class=\"table-container\"><table><thead><tr><th>Name</th><th>Phone</th><th>Email</th><th>Profile</th><th>Matches</th><th>Calls</th><th>WA</th><th>Status</th><th>Ref</th><th>Activity</th><th>Act</th></tr></thead><tbody id=\"users-list-tb\"></tbody></table></div></div>';\nhtml += '<div class=\"pagination\" id=\"users-pg\"></div></div>';\n\nhtml += '<div id=\"tab-interested\" class=\"tab-content\">';\nhtml += '<div class=\"tab-header\"><h2>✅ Interested</h2><div class=\"tab-controls\">';\nhtml += '<select class=\"sort-select\" id=\"sort-int\"><option value=\"activity-desc\">Activity ↓</option><option value=\"name-asc\">Name A-Z</option><option value=\"profile-desc\">Profile ↓</option><option value=\"matches-desc\">Matches ↓</option></select>';\nhtml += '<span id=\"int-info\" class=\"info-badge\"></span></div></div>';\nhtml += '<div class=\"user-grid\" id=\"int-grid\"></div>';\nhtml += '<div class=\"pagination\" id=\"int-pg\"></div></div>';\n\nhtml += '<div id=\"tab-matches\" class=\"tab-content\">';\nhtml += '<div class=\"tab-header\"><h2>🎯 Matches</h2><div class=\"tab-controls\">';\nhtml += '<select class=\"sort-select\" id=\"sort-matches\"><option value=\"score-desc\">Score ↓</option><option value=\"score-asc\">Score ↑</option><option value=\"date-desc\">Date ↓</option><option value=\"name-asc\">Name A-Z</option></select>';\nhtml += '<span id=\"matches-info\" class=\"info-badge\"></span></div></div>';\nhtml += '<div class=\"table-container\"><table><thead><tr><th>Candidate</th><th>Role</th><th>Score</th><th>Skills</th><th>Exp</th><th>Int</th><th>Email</th><th>Date</th><th>Act</th></tr></thead><tbody id=\"matches-tb\"></tbody></table></div>';\nhtml += '<div class=\"pagination\" id=\"matches-pg\"></div></div>';\n\nhtml += '<div id=\"tab-whatsapp\" class=\"tab-content\">';\nhtml += '<div class=\"tab-header\"><h2>💬 WhatsApp</h2><div class=\"tab-controls\">';\nhtml += '<select class=\"sort-select\" id=\"sort-wa\"><option value=\"total-desc\">Total ↓</option><option value=\"out-desc\">Out ↓</option><option value=\"in-desc\">In ↓</option><option value=\"last-desc\">Last ↓</option><option value=\"name-asc\">Name A-Z</option></select>';\nhtml += '<span id=\"wa-info\" class=\"info-badge\"></span></div></div>';\nhtml += '<div class=\"table-container\"><table><thead><tr><th>User</th><th>Phone</th><th>📤</th><th>📥</th><th>Total</th><th>Status</th><th>Last</th><th>Act</th></tr></thead><tbody id=\"wa-tb\"></tbody></table></div>';\nhtml += '<div class=\"pagination\" id=\"wa-pg\"></div></div>';\n\nhtml += '<div id=\"tab-calls\" class=\"tab-content\">';\nhtml += '<div class=\"tab-header\"><h2>📞 Calls</h2><div class=\"tab-controls\">';\nhtml += '<select class=\"sort-select\" id=\"sort-calls\"><option value=\"dur-desc\">Duration ↓</option><option value=\"total-desc\">Total ↓</option><option value=\"success-desc\">Success ↓</option><option value=\"last-desc\">Last ↓</option><option value=\"name-asc\">Name A-Z</option></select>';\nhtml += '<span id=\"calls-info\" class=\"info-badge\"></span></div></div>';\nhtml += '<div class=\"table-container\"><table><thead><tr><th>User</th><th>Phone</th><th>Total</th><th>✅</th><th>🚫</th><th>❌</th><th>Dur</th><th>Last</th><th>Act</th></tr></thead><tbody id=\"calls-tb\"></tbody></table></div>';\nhtml += '<div class=\"pagination\" id=\"calls-pg\"></div></div>';\n\nhtml += '<div id=\"tab-funnel\" class=\"tab-content\">';\nhtml += '<div class=\"tab-header\"><h2>📈 Funnel</h2><div class=\"tab-controls\">';\nhtml += '<select class=\"sort-select\" id=\"sort-funnel\"><option value=\"date-desc\">Date ↓</option><option value=\"date-asc\">Date ↑</option><option value=\"users-desc\">Users ↓</option></select>';\nhtml += '</div></div>';\nhtml += '<div class=\"table-container\"><table><thead><tr><th>Date</th><th>New</th><th>Profile</th><th>CV</th><th>Match</th><th>Shared</th><th>Interest</th><th>Email</th></tr></thead><tbody id=\"funnel-tb\"></tbody></table></div></div>';\n\nhtml += '<div id=\"tab-jds\" class=\"tab-content\">';\nhtml += '<div class=\"tab-header\"><h2>📋 JDs</h2><div class=\"tab-controls\">';\nhtml += '<select class=\"sort-select\" id=\"sort-jds\"><option value=\"pos-desc\">Positions ↓</option><option value=\"code-asc\">Code A-Z</option><option value=\"name-asc\">Role A-Z</option></select>';\nhtml += '<span id=\"jds-info\" class=\"info-badge\"></span></div></div>';\nhtml += '<div class=\"table-container\"><table><thead><tr><th>Code</th><th>Role</th><th>Location</th><th>Exp</th><th>Salary</th><th>Pos</th><th>Status</th><th>Link</th></tr></thead><tbody id=\"jds-tb\"></tbody></table></div>';\nhtml += '<div class=\"pagination\" id=\"jds-pg\"></div></div>';\n\nhtml += '<div id=\"tab-analysis\" class=\"tab-content\"><div class=\"tab-header\"><h2>📊 Analysis</h2><div class=\"tab-controls\"><select class=\"sort-select\" id=\"analysis-view\"><option value=\"daily\">Daily View</option><option value=\"weekly\">Weekly View</option><option value=\"overall\">Overall View</option></select><select class=\"sort-select\" id=\"analysis-group\" style=\"margin-left:8px\"><option value=\"none\">No Grouping</option><option value=\"team\">By Team Manager</option><option value=\"recruiter\">By Recruiter</option></select></div></div><div id=\"analysis-content\"></div></div>';\n\nhtml += '</div>';\n\n// Modals\nhtml += '<div class=\"modal\" id=\"modal\"><div class=\"modal-content\"><div class=\"modal-header\"><h2 id=\"modal-title\">Details</h2><button class=\"modal-close\" id=\"modal-close\">×</button></div><div class=\"modal-body\" id=\"modal-body\"></div></div></div>';\nhtml += '<div class=\"modal\" id=\"call-modal\"><div class=\"modal-content\" style=\"max-width:900px\"><div class=\"modal-header\" style=\"background:var(--success)\"><h2 id=\"call-modal-title\">📞 Calls</h2><button class=\"modal-close\" id=\"call-modal-close\">×</button></div><div class=\"modal-body\" id=\"call-modal-body\"></div></div></div>';\n\n// JavaScript\nhtml += '<script>';\nhtml += 'var D=\\'' + dashboardDataStr + '\\';D=JSON.parse(D);';\nhtml += 'var F=[],cid=null,pg={u:1,i:1,m:1,w:1,c:1,j:1},pp=15,EL_KEY=D.elevenlabs_key;';\n\n// Theme toggle\nhtml += 'document.querySelectorAll(\".theme-btn\").forEach(function(b){b.onclick=function(){document.querySelectorAll(\".theme-btn\").forEach(function(x){x.classList.remove(\"active\")});this.classList.add(\"active\");var t=this.dataset.theme;if(t===\"dark\"){document.documentElement.setAttribute(\"data-theme\",\"dark\");localStorage.setItem(\"theme\",\"dark\")}else{document.documentElement.removeAttribute(\"data-theme\");localStorage.setItem(\"theme\",\"light\")}}});';\nhtml += '(function(){var t=localStorage.getItem(\"theme\");if(t===\"dark\"){document.documentElement.setAttribute(\"data-theme\",\"dark\");document.querySelector(\".theme-btn[data-theme=\\\\\"dark\\\\\"]\").classList.add(\"active\");document.querySelector(\".theme-btn[data-theme=\\\\\"light\\\\\"]\").classList.remove(\"active\")}})();';\n\n// Utils\nhtml += 'function esc(t){if(t==null)return\"\";return String(t).replace(/&/g,\"&amp;\").replace(/</g,\"&lt;\").replace(/>/g,\"&gt;\")}';\nhtml += 'function fD(d){if(!d)return\"N/A\";try{return new Date(d).toLocaleString(\"en-IN\",{timeZone:\"Asia/Kolkata\",day:\"numeric\",month:\"short\",hour:\"2-digit\",minute:\"2-digit\"})}catch(e){return\"N/A\"}}';\nhtml += 'function fDF(d){if(!d)return\"N/A\";try{return new Date(d).toLocaleString(\"en-IN\",{timeZone:\"Asia/Kolkata\",day:\"2-digit\",month:\"2-digit\",year:\"numeric\",hour:\"2-digit\",minute:\"2-digit\"})}catch(e){return\"N/A\"}}';\nhtml += 'function fDur(s){if(!s)return\"0s\";var h=Math.floor(s/3600),m=Math.floor((s%3600)/60),ss=s%60;if(h>0)return h+\"h\"+m+\"m\";if(m>0)return m+\"m\"+ss+\"s\";return ss+\"s\"}';\nhtml += 'function chk(v,c,t,t2){if(!c||t===\"\")return true;var n=parseFloat(t);if(isNaN(n))return true;if(c===\"gt\")return v>n;if(c===\"gte\")return v>=n;if(c===\"eq\")return v===n;if(c===\"lt\")return v<n;if(c===\"lte\")return v<=n;if(c===\"btw\"){var n2=parseFloat(t2);if(isNaN(n2))return v>=n;return v>=n&&v<=n2}return true}';\n\n// Quick dates\nhtml += 'document.querySelectorAll(\".qd-btn\").forEach(function(b){b.onclick=function(){var r=this.dataset.range,t=new Date(),ts=t.toISOString().split(\"T\")[0],ss=ts,es=ts;if(r===\"yesterday\"){var y=new Date(t);y.setDate(y.getDate()-1);ss=es=y.toISOString().split(\"T\")[0]}else if(r===\"week\"){var w=new Date(t);w.setDate(w.getDate()-7);ss=w.toISOString().split(\"T\")[0]}else if(r===\"month\"){var m=new Date(t);m.setDate(m.getDate()-30);ss=m.toISOString().split(\"T\")[0]}else if(r===\"all\"){ss=\"2024-01-01\"}document.getElementById(\"start-date\").value=ss;document.getElementById(\"end-date\").value=es;document.getElementById(\"date-form\").submit()}});';\n\n// Filter toggle\nhtml += 'document.getElementById(\"filter-toggle\").onclick=function(){this.classList.toggle(\"open\");document.getElementById(\"filter-section\").classList.toggle(\"show\")};document.getElementById(\"f-dr-c\").onchange=function(){var v2=document.getElementById(\"f-dr-v2\");v2.style.display=this.value===\"btw\"?\"block\":\"none\";if(this.value!==\"btw\")v2.value=\"\"};';\n\n// Tabs\nhtml += 'var rendered={users:false,interested:false,matches:false,whatsapp:false,calls:false,funnel:false,jds:false,analysis:false};function renderTab(t){if(rendered[t])return;rendered[t]=true;if(t===\"users\")renderUsers();else if(t===\"interested\")renderInt();else if(t===\"matches\")renderMatches();else if(t===\"whatsapp\")renderWA();else if(t===\"calls\")renderCalls();else if(t===\"funnel\")renderFunnel();else if(t===\"jds\")renderJDs();else if(t===\"analysis\")renderAnalysis()}function initTabs(){var c=document.getElementById(\"tabs-container\");c.innerHTML=\"\";rendered={users:false,interested:false,matches:false,whatsapp:false,calls:false,funnel:false,jds:false,analysis:false};var tabs=[{id:\"users\",label:\"👥 Users\",cnt:F.length},{id:\"interested\",label:\"✅ Interested\",cnt:F.filter(function(u){return u.is_interested}).length,cls:\"interested\"},{id:\"matches\",label:\"🎯 Matches\",cnt:0},{id:\"whatsapp\",label:\"💬 WhatsApp\",cnt:F.filter(function(u){return u.whatsapp_stats&&u.whatsapp_stats.total>0}).length},{id:\"calls\",label:\"📞 Calls\",cnt:F.filter(function(u){return u.call_stats&&u.call_stats.total>0}).length},{id:\"funnel\",label:\"📈 Funnel\",cnt:\"\"},{id:\"jds\",label:\"📋 JDs\",cnt:D.jd_data.length},{id:\"analysis\",label:\"📊 Analysis\",cnt:\"\"}];var mc=0;F.forEach(function(u){mc+=(u.matches||[]).length});tabs[2].cnt=mc;tabs.forEach(function(t,i){var btn=document.createElement(\"button\");btn.className=\"tab\"+(i===0?\" active\":\"\")+(t.cls?\" \"+t.cls:\"\");btn.dataset.tab=t.id;btn.innerHTML=t.label+(t.cnt!==\"\"?\" (\"+t.cnt+\")\":\"\");btn.onclick=function(){var tid=this.dataset.tab;document.querySelectorAll(\".tab\").forEach(function(x){x.classList.remove(\"active\")});document.querySelectorAll(\".tab-content\").forEach(function(x){x.classList.remove(\"active\")});this.classList.add(\"active\");document.getElementById(\"tab-\"+tid).classList.add(\"active\");renderTab(tid)};c.appendChild(btn)})}';\n;\n\n// Apply filters\nhtml += 'function applyFilters(){var sr=(document.getElementById(\"f-search\").value||\"\").toLowerCase(),fd=document.getElementById(\"f-from-date\").value,td=document.getElementById(\"f-to-date\").value,st=document.getElementById(\"f-status\").value,tm=document.getElementById(\"f-team\").value,rc=document.getElementById(\"f-recruiter\").value,cv=document.getElementById(\"f-cv\").value,intF=document.getElementById(\"f-int\").value,comm=document.getElementById(\"f-comm\").value,waStatus=document.getElementById(\"f-wa-status\").value,msgStatus=document.getElementById(\"f-msg-status\").value,ref=document.getElementById(\"f-referral\").value;';\nhtml += 'var outC=document.getElementById(\"f-out-c\").value,outV=document.getElementById(\"f-out-v\").value;';\nhtml += 'var inC=document.getElementById(\"f-in-c\").value,inV=document.getElementById(\"f-in-v\").value;';\nhtml += 'var tmC=document.getElementById(\"f-tm-c\").value,tmV=document.getElementById(\"f-tm-v\").value;';\nhtml += 'var tcC=document.getElementById(\"f-tc-c\").value,tcV=document.getElementById(\"f-tc-v\").value;';\nhtml += 'var scC=document.getElementById(\"f-sc-c\").value,scV=document.getElementById(\"f-sc-v\").value;';\nhtml += 'var naC=document.getElementById(\"f-na-c\").value,naV=document.getElementById(\"f-na-v\").value;';\nhtml += 'var drC=document.getElementById(\"f-dr-c\").value,drV=document.getElementById(\"f-dr-v\").value,drV2=document.getElementById(\"f-dr-v2\").value;';\nhtml += 'var pfC=document.getElementById(\"f-pf-c\").value,pfV=document.getElementById(\"f-pf-v\").value;';\nhtml += 'var msC=document.getElementById(\"f-ms-c\").value,msV=document.getElementById(\"f-ms-v\").value;';\nhtml += 'var mtC=document.getElementById(\"f-mt-c\").value,mtV=document.getElementById(\"f-mt-v\").value;';\nhtml += 'F=D.users.filter(function(u){if(cid&&u.id!==cid)return false;if(sr){var s=((u.name||\"\")+\" \"+(u.phone_number||\"\")+\" \"+(u.email||\"\")).toLowerCase();if(s.indexOf(sr)===-1)return false}if(fd){var ud=new Date(u.created_at),fdd=new Date(fd);if(ud<fdd)return false}if(td){var ud=new Date(u.created_at),tdd=new Date(td);tdd.setDate(tdd.getDate()+1);if(ud>tdd)return false}if(st&&u.status!==st)return false;if(tm&&u.team_manager_email!==tm)return false;if(rc&&u.recruiter_email!==rc)return false;if(cv===\"1\"&&!u.has_cv)return false;if(cv===\"0\"&&u.has_cv)return false;if(intF===\"1\"&&!u.is_interested)return false;if(intF===\"0\"&&u.is_interested)return false;var ws=u.whatsapp_stats||{},cs=u.call_stats||{},ms=u.match_stats||{};if(comm===\"calls\"&&cs.total===0)return false;if(comm===\"wa\"&&ws.total===0)return false;if(comm===\"both\"&&(cs.total===0||ws.total===0))return false;if(waStatus===\"connected\"&&!u.wa_connected&&!u.wa_reconnected)return false;if(waStatus===\"direct\"&&(!u.wa_connected||u.wa_reconnected))return false;if(waStatus===\"reconnected\"&&!u.wa_reconnected)return false;if(waStatus===\"failed\"&&(!u.wa_failed||u.wa_reconnected||(u.whatsapp_stats&&u.whatsapp_stats.inbound>0)))return false;if(msgStatus){var ws=u.whatsapp_stats||{};if(msgStatus===\"has_failed\"&&(!ws.failed_count||ws.failed_count===0))return false;if(msgStatus===\"all_delivered\"&&ws.failed_count>0)return false;if(msgStatus===\"has_sent\"&&(!ws.sent_count||ws.sent_count===0))return false;if(msgStatus===\"no_failed\"&&ws.failed_count>0)return false}if(ref===\"1\"&&!u.is_referral)return false;if(ref===\"0\"&&u.is_referral)return false;if(!chk(ws.outbound||0,outC,outV))return false;if(!chk(ws.inbound||0,inC,inV))return false;if(!chk(ws.total||0,tmC,tmV))return false;if(!chk(cs.total||0,tcC,tcV))return false;if(!chk(cs.successful||0,scC,scV))return false;if(!chk(cs.no_answer||0,naC,naV))return false;if(!chk(cs.total_duration||0,drC,drV,drV2))return false;if(!chk(u.profile_completion_per||0,pfC,pfV))return false;if(!chk(ms.best_score||0,msC,msV))return false;if(!chk(ms.total||0,mtC,mtV))return false;return true});pg={u:1,i:1,m:1,w:1,c:1,j:1};renderStats();initTabs();renderAll()}';\nhtml += 'document.getElementById(\"apply-btn\").onclick=applyFilters;';\n\n// Reset\nhtml += 'document.getElementById(\"reset-btn\").onclick=function(){document.querySelectorAll(\"#filter-section input\").forEach(function(i){i.value=\"\"});document.querySelectorAll(\"#filter-section select\").forEach(function(s){s.selectedIndex=0});document.getElementById(\"f-dr-v2\").style.display=\"none\";cid=null;document.getElementById(\"cross-filter\").classList.remove(\"active\");F=D.users.slice();pg={u:1,i:1,m:1,w:1,c:1,j:1};renderStats();initTabs();renderAll()};';\n\n// Cross filter\nhtml += 'function setCF(id){var u=null;for(var i=0;i<D.users.length;i++)if(D.users[i].id===id){u=D.users[i];break}if(!u)return;cid=id;document.getElementById(\"cross-filter\").classList.add(\"active\");document.getElementById(\"cf-name\").textContent=u.name||\"Unknown\";document.getElementById(\"cf-phone\").textContent=\"(\"+(u.phone_number||\"\")+\")\";applyFilters()}';\nhtml += 'document.getElementById(\"clear-cf\").onclick=function(){cid=null;document.getElementById(\"cross-filter\").classList.remove(\"active\");applyFilters()};';\n\n// Sort\nhtml += 'function sortArr(arr,key,dir){return arr.slice().sort(function(a,b){var av,bv;switch(key){case\"activity\":av=new Date(a.last_activity||a.lt||0);bv=new Date(b.last_activity||b.lt||0);break;case\"name\":av=(a.name||a.nm||a.un||\"\").toLowerCase();bv=(b.name||b.nm||b.un||\"\").toLowerCase();break;case\"profile\":av=a.profile_completion_per||0;bv=b.profile_completion_per||0;break;case\"matches\":av=a.match_stats?a.match_stats.total:0;bv=b.match_stats?b.match_stats.total:0;break;case\"calls\":av=a.call_stats?a.call_stats.total:0;bv=b.call_stats?b.call_stats.total:0;break;case\"wa\":av=a.whatsapp_stats?a.whatsapp_stats.total:0;bv=b.whatsapp_stats?b.whatsapp_stats.total:0;break;case\"created\":case\"date\":av=new Date(a.created_at||a.dt||0);bv=new Date(b.created_at||b.dt||0);break;case\"score\":av=a.sc||0;bv=b.sc||0;break;case\"total\":av=a.tt||0;bv=b.tt||0;break;case\"out\":av=a.ob||0;bv=b.ob||0;break;case\"in\":av=a.ib||0;bv=b.ib||0;break;case\"last\":av=new Date(a.lt||0);bv=new Date(b.lt||0);break;case\"dur\":av=a.dr||0;bv=b.dr||0;break;case\"success\":av=a.ok||0;bv=b.ok||0;break;case\"code\":av=(a.role_code||\"\").toLowerCase();bv=(b.role_code||\"\").toLowerCase();break;case\"pos\":av=a.no_of_positions||0;bv=b.no_of_positions||0;break;case\"users\":av=a.new_users||0;bv=b.new_users||0;break;default:av=0;bv=0}if(av<bv)return dir===\"asc\"?-1:1;if(av>bv)return dir===\"asc\"?1:-1;return 0})}';\n\n// Sort handlers\nhtml += 'document.getElementById(\"analysis-view\").onchange=function(){renderAnalysis()};document.getElementById(\"analysis-group\").onchange=function(){renderAnalysis()};[\"users\",\"int\",\"matches\",\"wa\",\"calls\",\"funnel\",\"jds\"].forEach(function(t){var el=document.getElementById(\"sort-\"+t);if(el)el.onchange=function(){if(t===\"users\")renderUsers();else if(t===\"int\")renderInt();else if(t===\"matches\")renderMatches();else if(t===\"wa\")renderWA();else if(t===\"calls\")renderCalls();else if(t===\"funnel\")renderFunnel();else if(t===\"jds\")renderJDs()}});';\n\n// ============ UPDATED RENDER STATS WITH NEW METRICS ============\nhtml += 'function renderStats(){var totCalls=0,totDur=0,connUsers=0,totWA=0,totWAOut=0,totWAIn=0,waConnUsers=0;F.forEach(function(u){var cs=u.call_stats||{},ws=u.whatsapp_stats||{};totCalls+=cs.total||0;totDur+=cs.total_duration||0;if((cs.total_duration||0)>0)connUsers++;totWA+=ws.total||0;totWAOut+=ws.outbound||0;totWAIn+=ws.inbound||0;if((ws.inbound||0)>0)waConnUsers++});var avgDurConn=connUsers>0?Math.round(totDur/connUsers):0;var avgDurAll=F.length>0?Math.round(totDur/F.length):0;var avgWAConn=waConnUsers>0?(totWA/waConnUsers).toFixed(1):0;var avgWAAll=F.length>0?(totWA/F.length).toFixed(1):0;var avgWAOutAll=F.length>0?(totWAOut/F.length).toFixed(1):0;var avgWAInAll=F.length>0?(totWAIn/F.length).toFixed(1):0;var stats=[{icon:\"👥\",val:F.length,label:\"USERS\",cls:\"\"},{icon:\"📊\",val:F.filter(function(u){return u.profile_completion_per>=70}).length,label:\"PROFILE ≥70%\",cls:\"\"},{icon:\"📄\",val:F.filter(function(u){return u.has_cv}).length,label:\"CV SHARED\",cls:\"hl-info\"},{icon:\"🎯\",val:F.filter(function(u){return u.match_stats&&u.match_stats.total>0}).length,label:\"MATCHED\",cls:\"\"},{icon:\"✅\",val:F.filter(function(u){return u.is_interested}).length,label:\"INTERESTED\",cls:\"hl-green\"},{icon:\"📞\",val:totCalls,label:\"TOTAL CALLS\",cls:\"\"},{icon:\"⏱️\",val:fDur(totDur),label:\"TOTAL CALL DUR\",cls:\"hl-warning\"},{icon:\"📈\",val:fDur(avgDurConn),label:\"AVG DUR/CONN\",cls:\"\"},{icon:\"📉\",val:fDur(avgDurAll),label:\"AVG DUR/USER\",cls:\"\"},{icon:\"💬\",val:totWA,label:\"TOTAL WA MSG\",cls:\"\"},{icon:\"📤\",val:totWAOut,label:\"WA OUTBOUND\",cls:\"\"},{icon:\"📥\",val:totWAIn,label:\"WA INBOUND\",cls:\"hl-cyan\"},{icon:\"📊\",val:avgWAConn,label:\"AVG WA/ENGAGED\",cls:\"\"},{icon:\"📉\",val:avgWAAll,label:\"AVG WA/USER\",cls:\"\"},{icon:\"⬆️\",val:avgWAOutAll,label:\"AVG OUT/USER\",cls:\"\"},{icon:\"⬇️\",val:avgWAInAll,label:\"AVG IN/USER\",cls:\"\"},{icon:\"✓\",val:F.filter(function(u){return u.wa_connected}).length,label:\"WA CONNECTED\",cls:\"hl-cyan\"},{icon:\"❌\",val:F.filter(function(u){return u.wa_failed&&!u.wa_reconnected}).length,label:\"WA FAILED\",cls:\"hl-danger\"},{icon:\"🔄\",val:F.filter(function(u){return u.wa_reconnected}).length,label:\"RECONNECTED\",cls:\"hl-pink\"},{icon:\"🔗\",val:F.filter(function(u){return u.is_referral}).length,label:\"REFERRED\",cls:\"hl-info\"},{icon:\"📋\",val:D.jd_data.filter(function(j){return j.status===\"Active\"}).length,label:\"ACTIVE JDS\",cls:\"\"}];var h=\"\";stats.forEach(function(s){h+=\"<div class=\\\\\"stat-card \"+s.cls+\"\\\\\"><div class=\\\\\"stat-icon\\\\\">\"+s.icon+\"</div><div class=\\\\\"stat-number\\\\\">\"+s.val+\"</div><div class=\\\\\"stat-label\\\\\">\"+s.label+\"</div></div>\"});document.getElementById(\"stats-grid\").innerHTML=h}';\n\n// ============ UPDATED RENDER ANALYSIS WITH NEW METRICS ============\nhtml += 'function renderAnalysis(){var view=document.getElementById(\"analysis-view\").value;var grp=document.getElementById(\"analysis-group\").value;var c=document.getElementById(\"analysis-content\");function getPK(d,v){if(!d)return null;var dt=new Date(d);if(v===\"daily\")return dt.toLocaleDateString(\"en-IN\",{timeZone:\"Asia/Kolkata\",day:\"2-digit\",month:\"short\",year:\"numeric\"});if(v===\"weekly\"){var s=new Date(dt);s.setDate(dt.getDate()-dt.getDay());return\"Wk \"+s.toLocaleDateString(\"en-IN\",{timeZone:\"Asia/Kolkata\",day:\"2-digit\",month:\"short\"})}return\"Overall\"}function initM(){return{users:0,calls:0,connUsers:0,gte4:0,profCall:0,profCv:0,prof70:0,match:0,interest:0,wfail:0,wrecon:0,wconn:0,totDur:0,totWA:0,waOut:0,waIn:0,waConnUsers:0,referral:0}}function addU(m,u){m.users++;var cs=u.call_stats||{};var ws=u.whatsapp_stats||{};var dur=cs.total_duration||0;m.calls+=cs.total||0;m.totDur+=dur;if(dur>0)m.connUsers++;if(dur>=240)m.gte4++;if(u.call_cv_text)m.profCall++;if(u.has_cv)m.profCv++;if(u.profile_completion_per>=70)m.prof70++;if(u.match_stats&&u.match_stats.total>0)m.match++;if(u.is_interested)m.interest++;if(u.wa_failed&&!u.wa_reconnected)m.wfail++;if(u.wa_reconnected)m.wrecon++;if(u.wa_connected&&!u.wa_reconnected)m.wconn++;m.totWA+=ws.total||0;m.waOut+=ws.outbound||0;m.waIn+=ws.inbound||0;if((ws.inbound||0)>0)m.waConnUsers++;if(u.is_referral)m.referral++}var h=\"\";if(grp!==\"none\"){var groups={};var gField=grp===\"team\"?\"team_manager_email\":\"recruiter_email\";var gLabel=grp===\"team\"?\"Team Manager\":\"Recruiter\";F.forEach(function(u){var gk=u[gField]||\"(Not Assigned)\";if(!groups[gk])groups[gk]=initM();addU(groups[gk],u)});var gKeys=Object.keys(groups).sort(function(a,b){return groups[b].users-groups[a].users});h+=\"<div class=\\\\\"analysis-section\\\\\"><h3>👥 \"+gLabel+\" Comparison</h3><div class=\\\\\"table-container\\\\\"><table class=\\\\\"analysis-table\\\\\"><thead><tr><th>\"+gLabel+\"</th><th>Users</th><th>Calls</th><th>Tot Dur</th><th>Avg Dur/Conn</th><th>Avg Dur/User</th><th>Conn</th><th>>=4m</th><th>Tot WA</th><th>WA Out</th><th>WA In</th><th>Avg WA/Eng</th><th>Avg WA/User</th><th>Match</th><th>Int</th><th>Ref</th></tr></thead><tbody>\";var totG=initM();gKeys.forEach(function(gk){var gm=groups[gk];totG.users+=gm.users;totG.calls+=gm.calls;totG.totDur+=gm.totDur;totG.connUsers+=gm.connUsers;totG.gte4+=gm.gte4;totG.totWA+=gm.totWA;totG.waOut+=gm.waOut;totG.waIn+=gm.waIn;totG.waConnUsers+=gm.waConnUsers;totG.match+=gm.match;totG.interest+=gm.interest;totG.referral+=gm.referral;var avgDurC=gm.connUsers>0?Math.round(gm.totDur/gm.connUsers):0;var avgDurU=gm.users>0?Math.round(gm.totDur/gm.users):0;var avgWAE=gm.waConnUsers>0?(gm.totWA/gm.waConnUsers).toFixed(1):0;var avgWAU=gm.users>0?(gm.totWA/gm.users).toFixed(1):0;h+=\"<tr><td class=\\\\\"row-label\\\\\">\"+gk+\"</td><td>\"+gm.users+\"</td><td>\"+gm.calls+\"</td><td>\"+fDur(gm.totDur)+\"</td><td>\"+fDur(avgDurC)+\"</td><td>\"+fDur(avgDurU)+\"</td><td>\"+gm.connUsers+\"</td><td>\"+gm.gte4+\"</td><td>\"+gm.totWA+\"</td><td>\"+gm.waOut+\"</td><td>\"+gm.waIn+\"</td><td>\"+avgWAE+\"</td><td>\"+avgWAU+\"</td><td>\"+gm.match+\"</td><td>\"+gm.interest+\"</td><td>\"+gm.referral+\"</td></tr>\"});var totAvgDurC=totG.connUsers>0?Math.round(totG.totDur/totG.connUsers):0;var totAvgDurU=totG.users>0?Math.round(totG.totDur/totG.users):0;var totAvgWAE=totG.waConnUsers>0?(totG.totWA/totG.waConnUsers).toFixed(1):0;var totAvgWAU=totG.users>0?(totG.totWA/totG.users).toFixed(1):0;h+=\"<tr class=\\\\\"sub-header\\\\\"><td><strong>Total</strong></td><td><strong>\"+totG.users+\"</strong></td><td><strong>\"+totG.calls+\"</strong></td><td><strong>\"+fDur(totG.totDur)+\"</strong></td><td><strong>\"+fDur(totAvgDurC)+\"</strong></td><td><strong>\"+fDur(totAvgDurU)+\"</strong></td><td><strong>\"+totG.connUsers+\"</strong></td><td><strong>\"+totG.gte4+\"</strong></td><td><strong>\"+totG.totWA+\"</strong></td><td><strong>\"+totG.waOut+\"</strong></td><td><strong>\"+totG.waIn+\"</strong></td><td><strong>\"+totAvgWAE+\"</strong></td><td><strong>\"+totAvgWAU+\"</strong></td><td><strong>\"+totG.match+\"</strong></td><td><strong>\"+totG.interest+\"</strong></td><td><strong>\"+totG.referral+\"</strong></td></tr></tbody></table></div></div>\";h+=\"<div class=\\\\\"analysis-section\\\\\"><h3>📊 \"+gLabel+\" Conversion Rates (%)</h3><div class=\\\\\"table-container\\\\\"><table class=\\\\\"analysis-table\\\\\"><thead><tr><th>\"+gLabel+\"</th><th>Conn%</th><th>>=4m%</th><th>Prof(CV)%</th><th>Match%</th><th>Interest%</th><th>WA Fail%</th><th>WA Recon%</th><th>WA Conn%</th></tr></thead><tbody>\";gKeys.forEach(function(gk){var gm=groups[gk];var u=gm.users||1;h+=\"<tr><td class=\\\\\"row-label\\\\\">\"+gk+\"</td><td>\"+(gm.connUsers/u*100).toFixed(1)+\"%</td><td>\"+(gm.gte4/u*100).toFixed(1)+\"%</td><td>\"+(gm.profCv/u*100).toFixed(1)+\"%</td><td>\"+(gm.match/u*100).toFixed(1)+\"%</td><td>\"+(gm.interest/u*100).toFixed(1)+\"%</td><td>\"+(gm.wfail/u*100).toFixed(1)+\"%</td><td>\"+(gm.wrecon/u*100).toFixed(1)+\"%</td><td>\"+(gm.wconn/u*100).toFixed(1)+\"%</td></tr>\"});h+=\"</tbody></table></div></div>\"}var periods={};var overall=initM();F.forEach(function(u){addU(overall,u);if(view!==\"overall\"){var pk=getPK(u.created_at,view);if(pk){if(!periods[pk])periods[pk]=initM();addU(periods[pk],u)}}});var pKeys=Object.keys(periods).sort(function(a,b){return b.localeCompare(a)});if(view===\"daily\")pKeys=pKeys.slice(0,7);if(view===\"weekly\")pKeys=pKeys.slice(0,4);h+=\"<div class=\\\\\"analysis-section\\\\\"><h3>📈 Key Metrics</h3><div class=\\\\\"table-container\\\\\"><table class=\\\\\"analysis-table\\\\\"><thead><tr><th>Metric</th><th>Overall</th><th>%</th>\";pKeys.forEach(function(pk){h+=\"<th>\"+pk+\"</th><th>%</th><th>Chg</th>\"});h+=\"</tr></thead><tbody>\";var mList=[[\"users\",\"No of Users\"],[\"calls\",\"Call Attempted\"],[\"connUsers\",\"Call Connected (Users)\"],[\"gte4\",\"Call >= 4 mins\"],[\"profCall\",\"Profile Done (Calling)\"],[\"profCv\",\"Profile Done (CV/LinkedIn)\"],[\"prof70\",\"Profile >= 70%\"],[\"match\",\"Matching Job Found\"],[\"interest\",\"Interest Shown\"],[\"totWA\",\"Total WA Messages\"],[\"waOut\",\"WA Outbound\"],[\"waIn\",\"WA Inbound\"],[\"waConnUsers\",\"WA Engaged (>=1 Inb)\"],[\"referral\",\"Referred Users\"]];mList.forEach(function(ml){var k=ml[0],lb=ml[1];var ov=overall[k];var ovP=overall.users>0?(ov/overall.users*100).toFixed(1):\"0\";h+=\"<tr><td class=\\\\\"row-label\\\\\">\"+lb+\"</td><td><strong>\"+ov+\"</strong></td><td>\"+ovP+\"%</td>\";pKeys.forEach(function(pk){var pm=periods[pk];var pv=pm[k];var pvP=pm.users>0?(pv/pm.users*100).toFixed(1):\"0\";var chg=(pvP-ovP).toFixed(1);var cls=chg>0?\"highlight-green\":chg<0?\"highlight-red\":\"\";h+=\"<td><strong>\"+pv+\"</strong></td><td>\"+pvP+\"%</td><td class=\\\\\"\"+cls+\"\\\\\">\"+(chg>0?\"+\":\"\")+chg+\"%</td>\"});h+=\"</tr>\"});h+=\"</tbody></table></div></div>\";h+=\"<div class=\\\\\"analysis-section\\\\\"><h3>⏱️ Duration & WA Averages</h3><div class=\\\\\"table-container\\\\\"><table class=\\\\\"analysis-table\\\\\"><thead><tr><th>Metric</th><th>Overall</th>\";pKeys.forEach(function(pk){h+=\"<th>\"+pk+\"</th>\"});h+=\"</tr></thead><tbody>\";h+=\"<tr><td class=\\\\\"row-label\\\\\">Total Call Duration</td><td><strong>\"+fDur(overall.totDur)+\"</strong></td>\";pKeys.forEach(function(pk){h+=\"<td>\"+fDur(periods[pk].totDur)+\"</td>\"});h+=\"</tr>\";h+=\"<tr><td class=\\\\\"row-label\\\\\">Avg Duration/Connected User</td><td><strong>\"+fDur(overall.connUsers>0?Math.round(overall.totDur/overall.connUsers):0)+\"</strong></td>\";pKeys.forEach(function(pk){var pm=periods[pk];h+=\"<td>\"+fDur(pm.connUsers>0?Math.round(pm.totDur/pm.connUsers):0)+\"</td>\"});h+=\"</tr>\";h+=\"<tr><td class=\\\\\"row-label\\\\\">Avg Duration/User</td><td><strong>\"+fDur(overall.users>0?Math.round(overall.totDur/overall.users):0)+\"</strong></td>\";pKeys.forEach(function(pk){var pm=periods[pk];h+=\"<td>\"+fDur(pm.users>0?Math.round(pm.totDur/pm.users):0)+\"</td>\"});h+=\"</tr>\";h+=\"<tr><td class=\\\\\"row-label\\\\\">Avg WA Msg/Engaged User</td><td><strong>\"+(overall.waConnUsers>0?(overall.totWA/overall.waConnUsers).toFixed(1):0)+\"</strong></td>\";pKeys.forEach(function(pk){var pm=periods[pk];h+=\"<td>\"+(pm.waConnUsers>0?(pm.totWA/pm.waConnUsers).toFixed(1):0)+\"</td>\"});h+=\"</tr>\";h+=\"<tr><td class=\\\\\"row-label\\\\\">Avg WA Msg/User</td><td><strong>\"+(overall.users>0?(overall.totWA/overall.users).toFixed(1):0)+\"</strong></td>\";pKeys.forEach(function(pk){var pm=periods[pk];h+=\"<td>\"+(pm.users>0?(pm.totWA/pm.users).toFixed(1):0)+\"</td>\"});h+=\"</tr>\";h+=\"<tr><td class=\\\\\"row-label\\\\\">Avg WA Out/User</td><td><strong>\"+(overall.users>0?(overall.waOut/overall.users).toFixed(1):0)+\"</strong></td>\";pKeys.forEach(function(pk){var pm=periods[pk];h+=\"<td>\"+(pm.users>0?(pm.waOut/pm.users).toFixed(1):0)+\"</td>\"});h+=\"</tr>\";h+=\"<tr><td class=\\\\\"row-label\\\\\">Avg WA In/User</td><td><strong>\"+(overall.users>0?(overall.waIn/overall.users).toFixed(1):0)+\"</strong></td>\";pKeys.forEach(function(pk){var pm=periods[pk];h+=\"<td>\"+(pm.users>0?(pm.waIn/pm.users).toFixed(1):0)+\"</td>\"});h+=\"</tr></tbody></table></div></div>\";h+=\"<div class=\\\\\"analysis-section\\\\\"><h3>📞 Call Duration Breakdown</h3><div class=\\\\\"table-container\\\\\"><table class=\\\\\"analysis-table\\\\\"><thead><tr><th>Duration</th><th>Users</th><th>Calls</th><th>WA Fail</th><th colspan=\\\\\"5\\\\\" class=\\\\\"section-header\\\\\">WA Reconnected</th><th colspan=\\\\\"5\\\\\" class=\\\\\"section-header\\\\\">WA Connected</th></tr><tr><th></th><th></th><th></th><th></th><th>Tot</th><th>Inb</th><th>CV</th><th>Mat</th><th>Int</th><th>Tot</th><th>Inb</th><th>CV</th><th>Mat</th><th>Int</th></tr></thead><tbody>\";var durs=[[\"noAnswer\",\"No Answer\",null,0],[\"lt1\",\"< 1 min\",1,59],[\"m1to2\",\"1-2 mins\",60,119],[\"m2to4\",\"2-4 mins\",120,239],[\"m4to10\",\"4-10 mins\",240,599],[\"gte10\",\">= 10 mins\",600,999999]];var durData={};durs.forEach(function(d){durData[d[0]]={u:0,c:0,wf:0,wr:[],wc:[]}});F.forEach(function(u){var dur=u.call_stats?u.call_stats.total_duration:0;var calls=u.call_stats?u.call_stats.total:0;var bk=dur===0?\"noAnswer\":dur<60?\"lt1\":dur<120?\"m1to2\":dur<240?\"m2to4\":dur<600?\"m4to10\":\"gte10\";durData[bk].u++;durData[bk].c+=calls;if(u.wa_failed&&!u.wa_reconnected)durData[bk].wf++;if(u.wa_reconnected)durData[bk].wr.push(u);if(u.wa_connected&&!u.wa_reconnected)durData[bk].wc.push(u)});var tot={u:0,c:0,wf:0,wrt:0,wri:0,wrc:0,wrm:0,wrint:0,wct:0,wci:0,wcc:0,wcm:0,wcint:0};durs.forEach(function(d){var bk=durData[d[0]];var wri=bk.wr.filter(function(x){return x.whatsapp_stats&&x.whatsapp_stats.inbound>=1}).length;var wrc=bk.wr.filter(function(x){return x.has_cv}).length;var wrm=bk.wr.filter(function(x){return x.match_stats&&x.match_stats.total>0}).length;var wrint=bk.wr.filter(function(x){return x.is_interested}).length;var wci=bk.wc.filter(function(x){return x.whatsapp_stats&&x.whatsapp_stats.inbound>=1}).length;var wcc=bk.wc.filter(function(x){return x.has_cv}).length;var wcm=bk.wc.filter(function(x){return x.match_stats&&x.match_stats.total>0}).length;var wcint=bk.wc.filter(function(x){return x.is_interested}).length;tot.u+=bk.u;tot.c+=bk.c;tot.wf+=bk.wf;tot.wrt+=bk.wr.length;tot.wri+=wri;tot.wrc+=wrc;tot.wrm+=wrm;tot.wrint+=wrint;tot.wct+=bk.wc.length;tot.wci+=wci;tot.wcc+=wcc;tot.wcm+=wcm;tot.wcint+=wcint;h+=\"<tr><td class=\\\\\"row-label\\\\\">\"+d[1]+\"</td><td>\"+bk.u+\"</td><td>\"+bk.c+\"</td><td>\"+bk.wf+\"</td><td>\"+bk.wr.length+\"</td><td>\"+wri+\"</td><td>\"+wrc+\"</td><td>\"+wrm+\"</td><td>\"+wrint+\"</td><td>\"+bk.wc.length+\"</td><td>\"+wci+\"</td><td>\"+wcc+\"</td><td>\"+wcm+\"</td><td>\"+wcint+\"</td></tr>\"});h+=\"<tr class=\\\\\"sub-header\\\\\"><td><strong>Total</strong></td><td><strong>\"+tot.u+\"</strong></td><td><strong>\"+tot.c+\"</strong></td><td><strong>\"+tot.wf+\"</strong></td><td><strong>\"+tot.wrt+\"</strong></td><td><strong>\"+tot.wri+\"</strong></td><td><strong>\"+tot.wrc+\"</strong></td><td><strong>\"+tot.wrm+\"</strong></td><td><strong>\"+tot.wrint+\"</strong></td><td><strong>\"+tot.wct+\"</strong></td><td><strong>\"+tot.wci+\"</strong></td><td><strong>\"+tot.wcc+\"</strong></td><td><strong>\"+tot.wcm+\"</strong></td><td><strong>\"+tot.wcint+\"</strong></td></tr></tbody></table></div></div>\";c.innerHTML=h}';\n\nhtml += 'function renderAll(){renderTab(\"users\")}';\n\n// User card\nhtml += 'function uCard(x,cls){var h=\"<div class=\\\\\"user-card\"+cls+\"\\\\\" data-id=\\\\\"\"+x.id+\"\\\\\"><div class=\\\\\"user-card-header\\\\\"><div><h3>\"+esc(x.name||\"Unknown\")+\"</h3><div class=\\\\\"phone\\\\\">\"+esc(x.phone_number||\"\")+\"</div></div><div class=\\\\\"badges\\\\\">\";if(x.is_interested)h+=\"<span class=\\\\\"badge badge-int\\\\\">✓INT</span>\";if(x.has_cv)h+=\"<span class=\\\\\"badge badge-cv\\\\\">CV</span>\";if(x.wa_failed&&!x.wa_reconnected)h+=\"<span class=\\\\\"badge badge-fail\\\\\">WA✗</span>\";if(x.wa_reconnected)h+=\"<span class=\\\\\"badge badge-recon\\\\\">WA↻</span>\";h+=\"</div></div><div class=\\\\\"user-card-body\\\\\"><div class=\\\\\"user-stats-row\\\\\"><div class=\\\\\"user-stat-item\\\\\"><div class=\\\\\"value\\\\\">\"+(x.profile_completion_per||0)+\"%</div><div class=\\\\\"label\\\\\">PROFILE</div></div><div class=\\\\\"user-stat-item\\\\\"><div class=\\\\\"value\\\\\">\"+(x.match_stats?x.match_stats.total:0)+\"</div><div class=\\\\\"label\\\\\">MATCHES</div></div><div class=\\\\\"user-stat-item\\\\\"><div class=\\\\\"value\\\\\">\"+fDur(x.call_stats?x.call_stats.total_duration:0)+\"</div><div class=\\\\\"label\\\\\">CALLS</div></div><div class=\\\\\"user-stat-item\\\\\"><div class=\\\\\"value\\\\\">\"+(x.whatsapp_stats?x.whatsapp_stats.total:0)+\"</div><div class=\\\\\"label\\\\\">WA</div></div></div><div class=\\\\\"user-info-grid\\\\\"><div class=\\\\\"user-info-item\\\\\"><span>📧</span><span class=\\\\\"val\\\\\">\"+esc(x.email||\"N/A\")+\"</span></div><div class=\\\\\"user-info-item\\\\\"><span>📍</span><span class=\\\\\"val\\\\\">\"+esc(x.cv_location||\"N/A\")+\"</span></div><div class=\\\\\"user-info-item\\\\\"><span>💼</span><span class=\\\\\"val\\\\\">\"+esc(x.cv_role||\"N/A\")+\"</span></div><div class=\\\\\"user-info-item\\\\\"><span>💰</span><span class=\\\\\"val\\\\\">\"+esc(x.cv_expected_ctc||\"N/A\")+\"</span></div></div></div><div class=\\\\\"user-card-footer\\\\\"><span class=\\\\\"activity\\\\\">\"+fD(x.last_activity)+\"</span><div class=\\\\\"action-btns\\\\\"><button class=\\\\\"mini-btn mini-btn-primary cf-btn\\\\\" data-id=\\\\\"\"+x.id+\"\\\\\">🔗</button><button class=\\\\\"mini-btn mini-btn-secondary view-btn\\\\\" data-id=\\\\\"\"+x.id+\"\\\\\">👁</button></div></div></div>\";return h}';\n\n// Render users\nhtml += 'var userView=\"grid\";function renderUsers(){var sv=document.getElementById(\"sort-users\").value.split(\"-\"),sorted=sortArr(F,sv[0],sv[1]),s=(pg.u-1)*pp,e=s+pp,pu=sorted.slice(s,e);document.getElementById(\"users-info\").textContent=F.length>0?(s+1)+\"-\"+Math.min(e,F.length)+\" of \"+F.length:\"0\";if(userView===\"grid\"){document.getElementById(\"users-grid\").style.display=\"grid\";document.getElementById(\"users-list\").style.display=\"none\";var h=\"\";for(var i=0;i<pu.length;i++){var x=pu[i],cls=cid===x.id?\" selected\":\"\";if(x.is_interested)cls+=\" int-card\";h+=uCard(x,cls)}document.getElementById(\"users-grid\").innerHTML=h}else{document.getElementById(\"users-grid\").style.display=\"none\";document.getElementById(\"users-list\").style.display=\"block\";var h=\"\";pu.forEach(function(x){var cs=x.call_stats||{},ws=x.whatsapp_stats||{};h+=\"<tr class=\\\\\"\"+(x.is_interested?\"int-row\":\"\")+\"\\\\\"><td><strong>\"+esc(x.name||\"Unknown\")+\"</strong></td><td style=\\\\\"font-family:monospace;font-size:0.75rem\\\\\">\"+esc(x.phone_number||\"\")+\"</td><td style=\\\\\"font-size:0.7rem\\\\\">\"+esc(x.email||\"N/A\")+\"</td><td>\"+(x.profile_completion_per||0)+\"%</td><td>\"+(x.match_stats?x.match_stats.total:0)+\"</td><td>\"+fDur(cs.total_duration||0)+\"</td><td>\"+(ws.total||0)+\"</td><td><span style=\\\\\"color:var(--accent)\\\\\">\"+esc(x.status||\"N/A\")+\"</span></td><td>\"+(x.is_referral?\"<span style=\\\\\"color:var(--success)\\\\\">✓</span>\":\"<span style=\\\\\"color:var(--text-muted)\\\\\">-</span>\")+\"</td><td style=\\\\\"font-size:0.7rem;color:var(--text-muted)\\\\\">\"+fD(x.last_activity)+\"</td><td><button class=\\\\\"mini-btn mini-btn-primary cf-btn\\\\\" data-id=\\\\\"\"+x.id+\"\\\\\">🔗</button> <button class=\\\\\"mini-btn mini-btn-secondary view-btn\\\\\" data-id=\\\\\"\"+x.id+\"\\\\\">👁</button></td></tr>\"});document.getElementById(\"users-list-tb\").innerHTML=h}renderPg(\"u\",\"users-pg\",F.length);bindCards()}';\n\n// Render interested\nhtml += 'function renderInt(){var intU=F.filter(function(x){return x.is_interested}),sv=document.getElementById(\"sort-int\").value.split(\"-\"),sorted=sortArr(intU,sv[0],sv[1]),c=document.getElementById(\"int-grid\"),s=(pg.i-1)*pp,e=s+pp,pu=sorted.slice(s,e);document.getElementById(\"int-info\").textContent=intU.length>0?(s+1)+\"-\"+Math.min(e,intU.length)+\" of \"+intU.length:\"0\";var h=\"\";for(var i=0;i<pu.length;i++)h+=uCard(pu[i],\" int-card\");c.innerHTML=h;renderPg(\"i\",\"int-pg\",intU.length);bindCards()}';\n\n// Render matches\nhtml += 'function renderMatches(){var tb=document.getElementById(\"matches-tb\"),all=[];F.forEach(function(u){var ms=u.matches||[];ms.forEach(function(m){var jd=D.jd_map[m.jd_id]||{},isInt=(u.interest_confirmed_jd_ids||[]).indexOf(m.jd_id)!==-1,em=false;(u.emails||[]).forEach(function(e){if(e.jd_id===m.jd_id)em=true});all.push({sc:m.matching_score||0,sk:m.skills_score||0,ex:m.experience_score||0,dt:m.matched_at,un:u.name||\"\",up:u.phone_number||\"\",uid:u.id,rn:jd.role_name||\"Unknown\",rc:jd.role_code||\"\",isInt:isInt,em:em})})});var sv=document.getElementById(\"sort-matches\").value.split(\"-\");all=sortArr(all,sv[0],sv[1]);var s=(pg.m-1)*pp,e=s+pp,pm=all.slice(s,e);document.getElementById(\"matches-info\").textContent=all.length>0?(s+1)+\"-\"+Math.min(e,all.length)+\" of \"+all.length:\"0\";var h=\"\";pm.forEach(function(m){var scl=m.sc>=8?\"high\":m.sc>=6?\"med\":\"low\";h+=\"<tr><td><strong>\"+esc(m.un)+\"</strong><br><small style=\\\\\"color:var(--text-muted)\\\\\">\"+esc(m.up)+\"</small></td><td><strong>\"+esc(m.rn)+\"</strong><br><small style=\\\\\"color:var(--text-muted)\\\\\">\"+esc(m.rc)+\"</small></td><td><span class=\\\\\"match-score \"+scl+\"\\\\\">\"+m.sc.toFixed(1)+\"</span></td><td>\"+m.sk.toFixed(1)+\"</td><td>\"+m.ex.toFixed(1)+\"</td><td>\"+(m.isInt?\"<span style=\\\\\"color:var(--success)\\\\\">✓</span>\":\"<span style=\\\\\"color:var(--text-muted)\\\\\">✗</span>\")+\"</td><td>\"+(m.em?\"<span style=\\\\\"color:var(--success)\\\\\">✓</span>\":\"<span style=\\\\\"color:var(--text-muted)\\\\\">✗</span>\")+\"</td><td style=\\\\\"font-size:0.7em;color:var(--text-muted)\\\\\">\"+fD(m.dt)+\"</td><td><button class=\\\\\"mini-btn mini-btn-secondary cf-btn\\\\\" data-id=\\\\\"\"+m.uid+\"\\\\\">🔗</button></td></tr>\"});tb.innerHTML=h;renderPg(\"m\",\"matches-pg\",all.length);bindCards()}';\n\n// Render WA\nhtml += 'function renderWA(){var tb=document.getElementById(\"wa-tb\"),data=[];F.forEach(function(u){var ws=u.whatsapp_stats||{};if(ws.total>0)data.push({uid:u.id,nm:u.name||\"\",ph:u.phone_number||\"\",ob:ws.outbound||0,ib:ws.inbound||0,tt:ws.total||0,lt:ws.last_message_at,fail:u.wa_failed&&!u.wa_reconnected,recon:u.wa_reconnected,conn:u.wa_connected,reason:u.wa_failure_reason})});var sv=document.getElementById(\"sort-wa\").value.split(\"-\");data=sortArr(data,sv[0],sv[1]);var s=(pg.w-1)*pp,e=s+pp,pd=data.slice(s,e);document.getElementById(\"wa-info\").textContent=data.length>0?(s+1)+\"-\"+Math.min(e,data.length)+\" of \"+data.length:\"0\";var h=\"\";pd.forEach(function(w){var st=w.conn?\"<span style=\\\\\"color:var(--success)\\\\\">✓</span>\":\"<span style=\\\\\"color:var(--text-muted)\\\\\">-</span>\";if(w.fail)st=\"<span style=\\\\\"color:var(--danger)\\\\\" title=\\\\\"\"+esc(w.reason)+\"\\\\\">✗</span>\";if(w.recon)st=\"<span style=\\\\\"color:var(--cyan)\\\\\">↻</span>\";h+=\"<tr><td><strong>\"+esc(w.nm)+\"</strong></td><td style=\\\\\"font-family:monospace;font-size:0.75rem\\\\\">\"+esc(w.ph)+\"</td><td style=\\\\\"color:var(--accent);font-weight:600\\\\\">\"+w.ob+\"</td><td style=\\\\\"color:var(--success);font-weight:600\\\\\">\"+w.ib+\"</td><td><strong>\"+w.tt+\"</strong></td><td>\"+st+\"</td><td style=\\\\\"font-size:0.7em;color:var(--text-muted)\\\\\">\"+fD(w.lt)+\"</td><td><button class=\\\\\"mini-btn mini-btn-secondary cf-btn\\\\\" data-id=\\\\\"\"+w.uid+\"\\\\\">🔗</button> <button class=\\\\\"mini-btn mini-btn-primary view-btn\\\\\" data-id=\\\\\"\"+w.uid+\"\\\\\">💬</button></td></tr>\"});tb.innerHTML=h;renderPg(\"w\",\"wa-pg\",data.length);bindCards()}';\n\n// Render Calls\nhtml += 'function renderCalls(){var tb=document.getElementById(\"calls-tb\"),data=[];F.forEach(function(u){var cs=u.call_stats||{};if(cs.total>0)data.push({uid:u.id,nm:u.name||\"\",ph:u.phone_number||\"\",tt:cs.total||0,ok:cs.successful||0,na:cs.no_answer||0,fl:cs.failed||0,dr:cs.total_duration||0,lt:cs.last_call_at,calls:u.calls||[]})});var sv=document.getElementById(\"sort-calls\").value.split(\"-\");data=sortArr(data,sv[0],sv[1]);var s=(pg.c-1)*pp,e=s+pp,pd=data.slice(s,e);document.getElementById(\"calls-info\").textContent=data.length>0?(s+1)+\"-\"+Math.min(e,data.length)+\" of \"+data.length:\"0\";var h=\"\";pd.forEach(function(c){h+=\"<tr><td><strong>\"+esc(c.nm)+\"</strong></td><td style=\\\\\"font-family:monospace;font-size:0.75rem\\\\\">\"+esc(c.ph)+\"</td><td><strong>\"+c.tt+\"</strong></td><td style=\\\\\"color:var(--success);font-weight:600\\\\\">\"+c.ok+\"</td><td style=\\\\\"color:var(--warning);font-weight:600\\\\\">\"+c.na+\"</td><td style=\\\\\"color:var(--danger);font-weight:600\\\\\">\"+c.fl+\"</td><td>\"+fDur(c.dr)+\"</td><td style=\\\\\"font-size:0.7em;color:var(--text-muted)\\\\\">\"+fD(c.lt)+\"</td><td><button class=\\\\\"mini-btn mini-btn-secondary cf-btn\\\\\" data-id=\\\\\"\"+c.uid+\"\\\\\">🔗</button> <button class=\\\\\"mini-btn mini-btn-success call-btn\\\\\" data-id=\\\\\"\"+c.uid+\"\\\\\">📞</button></td></tr>\"});tb.innerHTML=h;renderPg(\"c\",\"calls-pg\",data.length);bindCards();bindCallBtns()}';\n\n// Render Funnel\nhtml += 'function renderFunnel(){var fn=D.daily_funnel||[],sv=document.getElementById(\"sort-funnel\").value.split(\"-\");fn=sortArr(fn,sv[0],sv[1]);var h=\"\";fn.forEach(function(d){h+=\"<tr><td><strong>\"+esc(d.date)+\"</strong></td><td>\"+d.new_users+\"</td><td>\"+d.profile_complete+\"</td><td style=\\\\\"color:var(--info);font-weight:600\\\\\">\"+d.cv_shared+\"</td><td>\"+d.matching_done+\"</td><td>\"+d.jobs_shared+\"</td><td style=\\\\\"color:var(--success);font-weight:600\\\\\">\"+d.interest_shown+\"</td><td>\"+d.recruiter_contacted+\"</td></tr>\"});document.getElementById(\"funnel-tb\").innerHTML=h}';\n\n// Render JDs\nhtml += 'function renderJDs(){var jds=D.jd_data||[],sv=document.getElementById(\"sort-jds\").value.split(\"-\");jds=sortArr(jds,sv[0],sv[1]);var s=(pg.j-1)*pp,e=s+pp,pj=jds.slice(s,e);document.getElementById(\"jds-info\").textContent=jds.length>0?(s+1)+\"-\"+Math.min(e,jds.length)+\" of \"+jds.length:\"0\";var h=\"\";pj.forEach(function(jd){var stc=jd.status===\"Active\"?\"var(--success)\":\"var(--danger)\";h+=\"<tr><td><strong>\"+esc(jd.role_code||\"\")+\"</strong></td><td>\"+esc(jd.role_name||\"\")+\"</td><td>\"+esc(jd.location||\"\")+\"</td><td>\"+esc(jd.experience_range||\"\")+\"</td><td>\"+esc(jd.vendor_rate_per_month||\"\")+\"</td><td>\"+(jd.no_of_positions||0)+\"</td><td style=\\\\\"color:\"+stc+\";font-weight:600\\\\\">\"+esc(jd.status||\"\")+\"</td><td>\"+(jd.brief_context?\"<a href=\\\\\"\"+esc(jd.brief_context)+\"\\\\\" target=\\\\\"_blank\\\\\" class=\\\\\"mini-btn mini-btn-primary\\\\\">📄</a>\":\"-\")+\"</td></tr>\"});document.getElementById(\"jds-tb\").innerHTML=h;renderPg(\"j\",\"jds-pg\",D.jd_data.length)}';\n\n// Pagination\nhtml += 'function renderPg(t,cid,tot){var c=document.getElementById(cid),tp=Math.ceil(tot/pp),cur=pg[t];if(tp<=1){c.innerHTML=\"\";return}var h=\"<button class=\\\\\"pg-btn\\\\\" data-t=\\\\\"\"+t+\"\\\\\" data-p=\\\\\"1\\\\\" \"+(cur===1?\"disabled\":\"\")+\">«</button><button class=\\\\\"pg-btn\\\\\" data-t=\\\\\"\"+t+\"\\\\\" data-p=\\\\\"\"+(cur-1)+\"\\\\\" \"+(cur===1?\"disabled\":\"\")+\">‹</button>\";var sp=Math.max(1,cur-2),ep=Math.min(tp,cur+2);for(var i=sp;i<=ep;i++)h+=\"<button class=\\\\\"pg-btn\"+(i===cur?\" active\":\"\")+\"\\\\\" data-t=\\\\\"\"+t+\"\\\\\" data-p=\\\\\"\"+i+\"\\\\\">\"+i+\"</button>\";h+=\"<button class=\\\\\"pg-btn\\\\\" data-t=\\\\\"\"+t+\"\\\\\" data-p=\\\\\"\"+(cur+1)+\"\\\\\" \"+(cur===tp?\"disabled\":\"\")+\">›</button><button class=\\\\\"pg-btn\\\\\" data-t=\\\\\"\"+t+\"\\\\\" data-p=\\\\\"\"+tp+\"\\\\\" \"+(cur===tp?\"disabled\":\"\")+\">»</button>\";c.innerHTML=h;c.querySelectorAll(\".pg-btn\").forEach(function(b){b.onclick=function(){if(this.disabled)return;pg[this.dataset.t]=parseInt(this.dataset.p);if(this.dataset.t===\"u\")renderUsers();else if(this.dataset.t===\"i\")renderInt();else if(this.dataset.t===\"m\")renderMatches();else if(this.dataset.t===\"w\")renderWA();else if(this.dataset.t===\"c\")renderCalls();else if(this.dataset.t===\"j\")renderJDs()}})}';\n\n// Bind cards\nhtml += 'function bindCards(){document.querySelectorAll(\".user-card\").forEach(function(c){c.onclick=function(e){if(e.target.classList.contains(\"mini-btn\"))return;openModal(this.dataset.id)}});document.querySelectorAll(\".cf-btn\").forEach(function(b){b.onclick=function(e){e.stopPropagation();setCF(this.dataset.id)}});document.querySelectorAll(\".view-btn\").forEach(function(b){b.onclick=function(e){e.stopPropagation();openModal(this.dataset.id)}})}';\n\nhtml += 'function bindCallBtns(){document.querySelectorAll(\".call-btn\").forEach(function(b){b.onclick=function(e){e.stopPropagation();openCallModal(this.dataset.id)}})}';\n\n// Open modal\nhtml += 'function openModal(id){var u=null;for(var i=0;i<D.users.length;i++)if(D.users[i].id===id){u=D.users[i];break}if(!u)return;document.getElementById(\"modal-title\").textContent=(u.name||\"Unknown\")+\" - \"+(u.phone_number||\"\");';\nhtml += 'var h=\"<div class=\\\\\"modal-section\\\\\"><div class=\\\\\"modal-section-header\\\\\" onclick=\\\\\"toggleSec(this)\\\\\"><h3>👤 Profile</h3><span class=\\\\\"arrow\\\\\">▼</span></div><div class=\\\\\"modal-section-body show\\\\\"><div style=\\\\\"display:grid;grid-template-columns:repeat(auto-fit,minmax(130px,1fr));gap:10px;font-size:0.8rem\\\\\"><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Email</strong><br>\"+esc(u.email||\"N/A\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Status</strong><br><span style=\\\\\"color:var(--accent)\\\\\">\"+esc(u.status||\"N/A\")+\"</span></div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Profile</strong><br><span style=\\\\\"color:var(--success)\\\\\">\"+(u.profile_completion_per||0)+\"%</span></div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Interested</strong><br>\"+(u.is_interested?\"<span style=\\\\\"color:var(--success)\\\\\">✓ Yes</span>\":\"<span style=\\\\\"color:var(--text-muted)\\\\\">✗ No</span>\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">CV</strong><br>\"+(u.has_cv?\"<span style=\\\\\"color:var(--success)\\\\\">✓ Yes</span>\":\"<span style=\\\\\"color:var(--text-muted)\\\\\">✗ No</span>\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">WA</strong><br>\"+(u.wa_reconnected?\"<span style=\\\\\"color:var(--cyan)\\\\\">↻ Recon</span>\":u.wa_failed?\"<span style=\\\\\"color:var(--danger)\\\\\">✗ Fail</span>\":u.wa_connected?\"<span style=\\\\\"color:var(--success)\\\\\">✓ OK</span>\":\"<span style=\\\\\"color:var(--text-muted)\\\\\">-</span>\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Location</strong><br>\"+esc(u.cv_location||\"N/A\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Role</strong><br>\"+esc(u.cv_role||\"N/A\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Company</strong><br>\"+esc(u.cv_company||u.company||\"N/A\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">CTC</strong><br>\"+esc(u.cv_current_ctc||\"N/A\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Expected</strong><br>\"+esc(u.cv_expected_ctc||\"N/A\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Notice</strong><br>\"+esc(u.cv_notice||\"N/A\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Referral</strong><br>\"+(u.is_referral?\"<span style=\\\\\"color:var(--success)\\\\\">✓ Yes</span>\":\"<span style=\\\\\"color:var(--text-muted)\\\\\">- No</span>\")+\"</div><div><strong style=\\\\\"color:var(--text-muted)\\\\\">Ref Code</strong><br>\"+esc(u.referred_by_code||\"N/A\")+\"</div></div></div></div>\";';\nhtml += 'h+=\"<div class=\\\\\"modal-section\\\\\"><div class=\\\\\"modal-section-header\\\\\" onclick=\\\\\"toggleSec(this)\\\\\"><h3>📄 Links</h3><span class=\\\\\"arrow\\\\\">▼</span></div><div class=\\\\\"modal-section-body show\\\\\">\";if(u.cv_file_url)h+=\"<a href=\\\\\"\"+esc(u.cv_file_url)+\"\\\\\" target=\\\\\"_blank\\\\\" class=\\\\\"cv-link\\\\\">📎 CV</a>\";if(u.linkedin_url)h+=\"<a href=\\\\\"\"+esc(u.linkedin_url)+\"\\\\\" target=\\\\\"_blank\\\\\" class=\\\\\"cv-link\\\\\">🔗 LinkedIn</a>\";if(!u.cv_file_url&&!u.linkedin_url)h+=\"<span style=\\\\\"color:var(--text-muted)\\\\\">No links</span>\";h+=\"</div></div>\";';\nhtml += 'h+=\"<div class=\\\\\"modal-section\\\\\"><div class=\\\\\"modal-section-header\\\\\" onclick=\\\\\"toggleSec(this)\\\\\"><h3>🎯 Matches <span class=\\\\\"count\\\\\">\"+(u.matches?u.matches.length:0)+\"</span></h3><span class=\\\\\"arrow\\\\\">▼</span></div><div class=\\\\\"modal-section-body show\\\\\">\";var ms=u.matches||[];if(ms.length>0){for(var i=0;i<Math.min(ms.length,5);i++){var m=ms[i],jd=D.jd_map[m.jd_id]||{},isInt=(u.interest_confirmed_jd_ids||[]).indexOf(m.jd_id)!==-1,scl=(m.matching_score||0)>=8?\"high\":(m.matching_score||0)>=6?\"med\":\"low\";h+=\"<div class=\\\\\"match-card\"+(isInt?\" int\":\"\")+\"\\\\\"><div style=\\\\\"display:flex;justify-content:space-between;align-items:center\\\\\"><div><strong>\"+esc(jd.role_name||\"Unknown\")+\"</strong><br><small style=\\\\\"color:var(--text-muted)\\\\\">\"+esc(jd.role_code||\"\")+\"</small></div><span class=\\\\\"match-score \"+scl+\"\\\\\">\"+(m.matching_score||0).toFixed(1)+\"</span></div><div style=\\\\\"margin-top:6px;font-size:0.75rem;color:var(--text-secondary)\\\\\">Sk: \"+(m.skills_score||0).toFixed(1)+\" | Ex: \"+(m.experience_score||0).toFixed(1)+\" | \"+(isInt?\"<span style=\\\\\"color:var(--success)\\\\\">✓Int</span>\":\"\")+\"</div></div>\"}}else h+=\"<span style=\\\\\"color:var(--text-muted)\\\\\">No matches</span>\";h+=\"</div></div>\";';\nhtml += 'h+=\"<div class=\\\\\"modal-section\\\\\"><div class=\\\\\"modal-section-header\\\\\" onclick=\\\\\"toggleSec(this)\\\\\"><h3>📞 Calls <span class=\\\\\"count\\\\\">\"+(u.calls?u.calls.length:0)+\"</span></h3><span class=\\\\\"arrow\\\\\">▶</span></div><div class=\\\\\"modal-section-body\\\\\">\";var cls=u.calls||[];if(cls.length>0){for(var i=0;i<cls.length;i++){var c=cls[i],stCls=c.status===\"done\"?\"done\":c.status===\"initiated\"?\"initiated\":\"failed\";h+=\"<div class=\\\\\"call-card\\\\\"><div style=\\\\\"display:flex;justify-content:space-between;align-items:center\\\\\"><div><span class=\\\\\"call-status \"+stCls+\"\\\\\">\"+esc(c.status)+\"</span> <strong style=\\\\\"margin-left:6px\\\\\">\"+esc(c.outcome||\"\")+\"</strong></div><span style=\\\\\"color:var(--text-muted);font-size:0.75rem\\\\\">⏱️ \"+fDur(c.call_duration_secs)+\"</span></div><div style=\\\\\"font-size:0.75rem;color:var(--text-muted);margin-top:6px\\\\\">\"+fDF(c.created_at)+\"</div>\";if(c.elevenlabs_conversation_id){h+=\"<div style=\\\\\"margin-top:8px\\\\\"><button class=\\\\\"mini-btn mini-btn-warning m-play\\\\\" data-cid=\\\\\"\"+c.elevenlabs_conversation_id+\"\\\\\" data-idx=\\\\\"m\"+i+\"\\\\\">🎵</button> <button class=\\\\\"mini-btn mini-btn-secondary m-trans\\\\\" data-cid=\\\\\"\"+c.elevenlabs_conversation_id+\"\\\\\" data-idx=\\\\\"m\"+i+\"\\\\\">📝</button></div><audio id=\\\\\"m-audio-m\"+i+\"\\\\\" class=\\\\\"audio-player\\\\\" controls style=\\\\\"display:none\\\\\"></audio><div id=\\\\\"m-trans-m\"+i+\"\\\\\" class=\\\\\"transcript-box\\\\\"></div>\"}h+=\"</div>\"}}else h+=\"<span style=\\\\\"color:var(--text-muted)\\\\\">No calls</span>\";h+=\"</div></div>\";';\nhtml += 'h+=\"<div class=\\\\\"modal-section\\\\\"><div class=\\\\\"modal-section-header\\\\\" onclick=\\\\\"toggleSec(this)\\\\\"><h3>💬 WhatsApp <span class=\\\\\"count\\\\\">\"+(u.whatsapp_messages?u.whatsapp_messages.length:0)+\"</span></h3><span class=\\\\\"arrow\\\\\">▶</span></div><div class=\\\\\"modal-section-body\\\\\"><div class=\\\\\"message-list\\\\\">\";var msgs=u.whatsapp_messages||[];if(msgs.length>0){for(var i=0;i<msgs.length;i++){var msg=msgs[i];var stLbl=msg.status?(msg.status.charAt(0).toUpperCase()+msg.status.slice(1)):\"Unknown\";var stCls=\"st-\"+(msg.status||\"null\").toLowerCase();h+=\"<div class=\\\\\"msg-bubble \"+(msg.direction===\"outbound\"?\"out\":\"in\")+\"\\\\\"><div>\"+esc(msg.message_text||\"\")+\"</div><div class=\\\\\"msg-meta\\\\\">\"+fD(msg.created_at)+\"<span class=\\\\\"msg-status \"+stCls+\"\\\\\">\"+stLbl+\"</span></div></div>\"}}else h+=\"<span style=\\\\\"color:var(--text-muted)\\\\\">No messages</span>\";h+=\"</div></div></div>\";';\nhtml += 'document.getElementById(\"modal-body\").innerHTML=h;document.getElementById(\"modal\").classList.add(\"active\");bindModalBtns()}';\n\n// Toggle section\nhtml += 'function toggleSec(el){var body=el.nextElementSibling,arrow=el.querySelector(\".arrow\");body.classList.toggle(\"show\");arrow.textContent=body.classList.contains(\"show\")?\"▼\":\"▶\"}';\n\n// Open call modal\nhtml += 'function openCallModal(id){var u=null;for(var i=0;i<D.users.length;i++)if(D.users[i].id===id){u=D.users[i];break}if(!u)return;document.getElementById(\"call-modal-title\").textContent=\"📞 \"+(u.name||\"Unknown\");var cls=u.calls||[],h=\"\";if(cls.length===0)h=\"<p style=\\\\\"color:var(--text-muted);text-align:center;padding:20px\\\\\">No calls</p>\";else{h+=\"<div class=\\\\\"table-container\\\\\"><table><thead><tr><th>#</th><th>Status</th><th>Outcome</th><th>Dur</th><th>Start</th><th>End</th><th>Audio</th><th>Trans</th></tr></thead><tbody>\";for(var i=0;i<cls.length;i++){var c=cls[i],stCls=c.status===\"done\"?\"done\":c.status===\"initiated\"?\"initiated\":\"failed\";h+=\"<tr><td>\"+(i+1)+\"</td><td><span class=\\\\\"call-status \"+stCls+\"\\\\\">\"+esc(c.status)+\"</span></td><td><strong>\"+esc(c.outcome||\"-\")+\"</strong></td><td>\"+fDur(c.call_duration_secs)+\"</td><td style=\\\\\"font-size:0.7rem\\\\\">\"+fDF(c.created_at)+\"</td><td style=\\\\\"font-size:0.7rem\\\\\">\"+fDF(c.ended_at)+\"</td><td>\"+(c.elevenlabs_conversation_id?\"<button class=\\\\\"mini-btn mini-btn-warning c-play\\\\\" data-cid=\\\\\"\"+c.elevenlabs_conversation_id+\"\\\\\" data-idx=\\\\\"c\"+i+\"\\\\\">🎵</button>\":\"-\")+\"</td><td>\"+(c.elevenlabs_conversation_id?\"<button class=\\\\\"mini-btn mini-btn-secondary c-trans\\\\\" data-cid=\\\\\"\"+c.elevenlabs_conversation_id+\"\\\\\" data-idx=\\\\\"c\"+i+\"\\\\\">📝</button>\":\"-\")+\"</td></tr>\"}h+=\"</tbody></table></div>\";for(var i=0;i<cls.length;i++){if(cls[i].elevenlabs_conversation_id){h+=\"<div id=\\\\\"c-audio-wrap-c\"+i+\"\\\\\" style=\\\\\"display:none;margin-top:10px;padding:10px;background:var(--bg-card-alt);border-radius:6px\\\\\"><strong style=\\\\\"color:var(--warning)\\\\\">🎵 Call #\"+(i+1)+\"</strong><audio id=\\\\\"c-audio-c\"+i+\"\\\\\" class=\\\\\"audio-player\\\\\" controls style=\\\\\"width:100%;margin-top:6px\\\\\"></audio></div>\";h+=\"<div id=\\\\\"c-trans-c\"+i+\"\\\\\" class=\\\\\"transcript-box\\\\\"></div>\"}}}document.getElementById(\"call-modal-body\").innerHTML=h;document.getElementById(\"call-modal\").classList.add(\"active\");bindCallModalBtns()}';\n\n// Bind modal audio\nhtml += 'function bindModalBtns(){document.querySelectorAll(\".m-play\").forEach(function(b){b.onclick=function(){playAudio(this.dataset.cid,\"m-audio-\"+this.dataset.idx,this)}});document.querySelectorAll(\".m-trans\").forEach(function(b){b.onclick=function(){fetchTrans(this.dataset.cid,\"m-trans-\"+this.dataset.idx)}})}';\nhtml += 'function bindCallModalBtns(){document.querySelectorAll(\".c-play\").forEach(function(b){b.onclick=function(){var wrap=document.getElementById(\"c-audio-wrap-\"+this.dataset.idx);wrap.style.display=wrap.style.display===\"none\"?\"block\":\"none\";if(wrap.style.display===\"block\")playAudio(this.dataset.cid,\"c-audio-\"+this.dataset.idx,this)}});document.querySelectorAll(\".c-trans\").forEach(function(b){b.onclick=function(){var el=document.getElementById(\"c-trans-\"+this.dataset.idx);if(el.classList.contains(\"show\"))el.classList.remove(\"show\");else fetchTrans(this.dataset.cid,\"c-trans-\"+this.dataset.idx)}})}';\n\n// Play audio\nhtml += 'function playAudio(cid,aid,btn){var a=document.getElementById(aid);if(!a)return;if(!a.src||a.src.indexOf(\"blob\")===-1){btn.textContent=\"⏳\";fetch(\"https://api.elevenlabs.io/v1/convai/conversations/\"+cid+\"/audio\",{headers:{\"xi-api-key\":EL_KEY}}).then(function(r){if(!r.ok)throw new Error();return r.blob()}).then(function(b){a.src=URL.createObjectURL(b);a.style.display=\"block\";a.play();btn.textContent=\"⏸️\"}).catch(function(){btn.textContent=\"❌\"})}else{if(a.paused){a.play();btn.textContent=\"⏸️\"}else{a.pause();btn.textContent=\"🎵\"}}}';\n\n// Fetch transcript\nhtml += 'function fetchTrans(cid,tid){var el=document.getElementById(tid);if(!el)return;if(el.dataset.loaded===\"1\"){el.classList.toggle(\"show\");return}el.innerHTML=\"<span style=\\\\\"color:var(--warning)\\\\\">⏳ Loading...</span>\";el.classList.add(\"show\");fetch(\"https://api.elevenlabs.io/v1/convai/conversations/\"+cid,{headers:{\"xi-api-key\":EL_KEY}}).then(function(r){if(!r.ok)throw new Error();return r.json()}).then(function(d){var h=\"\";if(d.transcript&&d.transcript.length>0){d.transcript.forEach(function(t){var role=t.role===\"agent\"?\"🤖\":\"👤\";var tm=t.time_in_call_secs?Math.floor(t.time_in_call_secs/60)+\"m\"+Math.floor(t.time_in_call_secs%60)+\"s\":\"\";h+=\"<div style=\\\\\"margin-bottom:10px\\\\\"><strong style=\\\\\"color:\"+(t.role===\"agent\"?\"var(--accent)\":\"var(--success)\")+\"\\\\\">\"+role+\"</strong>\"+(tm?\" <span style=\\\\\"color:var(--text-muted);font-size:0.7rem\\\\\">(\"+tm+\")</span>\":\"\")+\"<br>\"+esc(t.message||\"\")+\"</div>\"})}else h=\"<span style=\\\\\"color:var(--text-muted)\\\\\">No transcript</span>\";el.innerHTML=h;el.dataset.loaded=\"1\"}).catch(function(){el.innerHTML=\"<span style=\\\\\"color:var(--danger)\\\\\">❌ Failed</span>\"})}';\n\n// Modal close\nhtml += 'document.getElementById(\"modal-close\").onclick=function(){document.getElementById(\"modal\").classList.remove(\"active\")};';\nhtml += 'document.getElementById(\"modal\").onclick=function(e){if(e.target===this)this.classList.remove(\"active\")};';\nhtml += 'document.getElementById(\"call-modal-close\").onclick=function(){document.getElementById(\"call-modal\").classList.remove(\"active\")};';\nhtml += 'document.getElementById(\"call-modal\").onclick=function(e){if(e.target===this)this.classList.remove(\"active\")};';\nhtml += 'document.onkeydown=function(e){if(e.key===\"Escape\"){document.getElementById(\"modal\").classList.remove(\"active\");document.getElementById(\"call-modal\").classList.remove(\"active\")}};';\n\n// Init\nhtml += 'setTimeout(function(){F=D.users.slice();renderStats();initTabs();renderAll();document.getElementById(\"loading-overlay\").style.display=\"none\";document.getElementById(\"view-grid\").onclick=function(){userView=\"grid\";document.getElementById(\"view-grid\").classList.add(\"active\");document.getElementById(\"view-list\").classList.remove(\"active\");renderUsers()};document.getElementById(\"view-list\").onclick=function(){userView=\"list\";document.getElementById(\"view-list\").classList.add(\"active\");document.getElementById(\"view-grid\").classList.remove(\"active\");renderUsers()};console.log(\"Dashboard loaded:\",D.users.length,\"users\")},10);';\nhtml += '</script></body></html>';\n\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'dashboard.html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        1040
      ],
      "id": "39448de2-ae48-4f9c-bb1d-d46173cae3f0",
      "name": "Generate Dashboard HTML"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Date Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Date Parameters": {
      "main": [
        [
          {
            "node": "Get Users (Filtered)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get WhatsApp (Filtered)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Calls (Filtered)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Matches (Filtered)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get JD Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Emails (Filtered)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Get Users (Filtered)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WhatsApp (Filtered)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Calls (Filtered)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Matches (Filtered)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Get JD Data": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Get Emails (Filtered)": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Process All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process All Data": {
      "main": [
        [
          {
            "node": "Generate Dashboard HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dashboard HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "41b8ebb1-eb2a-464e-8497-d06d399ec07b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3482730833e08f4073a1b936e71fa55a66936b07a2442709da167fff450ceed9"
  },
  "id": "SZX7qO-7tniXscoyQVrp6",
  "tags": []
}